@use "../utilities/prefixes" as prefixes;

// Apple HIG: standard radio with focus ring
:root[data-theme="#{prefixes.$theme-name}"] {
  .radio {
    --radio-mark-size: 60%;
    --radio-focus-ring-width: 3px;
    --radio-focus-ring-offset-width: 2px;
    --radio-focus-ring-color: var(--primary-default);
  }
}
