@use "../../utilities/prefixes" as prefixes;
@use "../utilities/palette" as palette;
@use "../utilities/color-defines" as color-defines;
@use "../../utilities/border" as border;

// ============================================
// Prefixes
// ============================================
// --------------------------------------------
// Prefixes
// --------------------------------------------
$button-prefix: #{prefixes.$prefix}button- !default;

// --------------------------------------------
// Class Names
// --------------------------------------------
$button-class-name: button !default;

// --------------------------------------------
// Variants
// --------------------------------------------
// --------------------------------------------
// Background Colors
// --------------------------------------------
$button-bg-color-var: --#{$button-prefix}bg-color !default;
$button-hover-bg-color-var: --#{$button-prefix}hover-bg-color !default;
$button-active-bg-color-var: --#{$button-prefix}active-bg-color !default;
$button-focus-bg-color-var: --#{$button-prefix}focus-bg-color !default;
$button-disabled-bg-color-var: --#{$button-prefix}disabled-bg-color !default;

// --------------------------------------------
// Text Colors
// --------------------------------------------
$button-color-var: --#{$button-prefix}color !default;
$button-hover-color-var: --#{$button-prefix}hover-color !default;
$button-active-color-var: --#{$button-prefix}active-color !default;
$button-focus-color-var: --#{$button-prefix}focus-color !default;
$button-disabled-color-var: --#{$button-prefix}disabled-color !default;

// --------------------------------------------
// Borders
// --------------------------------------------
$button-border-color-var: --#{$button-prefix}border-color !default;
$button-hover-border-color-var: --#{$button-prefix}hover-border-color !default;
$button-active-border-color-var: --#{$button-prefix}active-border-color !default;
$button-focus-border-color-var: --#{$button-prefix}focus-border-color !default;
$button-disabled-border-color-var: --#{$button-prefix}disabled-border-color !default;
$button-border-radius-var: --#{$button-prefix}border-radius !default;
$button-hover-border-radius-var: --#{$button-prefix}hover-border-radius !default;
$button-active-border-radius-var: --#{$button-prefix}active-border-radius !default;
$button-focus-border-radius-var: --#{$button-prefix}focus-border-radius !default;
$button-disabled-border-radius-var: --#{$button-prefix}disabled-border-radius !default;
$button-border-width-var: --#{$button-prefix}border-width !default;

// --------------------------------------------
// Opacity
// --------------------------------------------
$button-opacity-var: --#{$button-prefix}opacity !default;
$button-hover-opacity-var: --#{$button-prefix}hover-opacity !default;
$button-active-opacity-var: --#{$button-prefix}active-opacity !default;
$button-focus-opacity-var: --#{$button-prefix}focus-opacity !default;
$button-disabled-opacity-var: --#{$button-prefix}disabled-opacity !default;

// --------------------------------------------
// Cursor
// --------------------------------------------
$button-cursor-var: --#{$button-prefix}cursor !default;
$button-disabled-cursor-var: --#{$button-prefix}disabled-cursor !default;

// --------------------------------------------
// Box Shadow
// --------------------------------------------
$button-box-shadow-var: --#{$button-prefix}box-shadow !default;
$button-hover-box-shadow-var: --#{$button-prefix}hover-box-shadow !default;
$button-active-box-shadow-var: --#{$button-prefix}active-box-shadow !default;
$button-focus-box-shadow-var: --#{$button-prefix}focus-box-shadow !default;
$button-disabled-box-shadow-var: --#{$button-prefix}disabled-box-shadow !default;

// --------------------------------------------
// Transition
// --------------------------------------------
$button-transition-var: --#{$button-prefix}transition !default;

// --------------------------------------------
// Focus ring
// --------------------------------------------
$button-focus-ring-color-var: --#{$button-prefix}focus-ring-color !default;
$button-focus-ring-width-var: --#{$button-prefix}focus-ring-width !default;
$button-focus-ring-offset-var: --#{$button-prefix}focus-ring-offset !default;

// --------------------------------------------
// Sizes
// --------------------------------------------
$button-font-size-var: --#{$button-prefix}font-size !default;
$button-height-var: --#{$button-prefix}height !default;
$button-padding-var: --#{$button-prefix}padding !default;
$button-gap-var: --#{$button-prefix}gap !default;
$button-icon-only-padding-var: --#{$button-prefix}icon-only-padding !default;
$button-xs-font-size-var: --#{$button-prefix}xs-font-size !default;
$button-xs-height-var: --#{$button-prefix}xs-height !default;
$button-xs-padding-var: --#{$button-prefix}xs-padding !default;
$button-xs-gap-var: --#{$button-prefix}xs-gap !default;
$button-xs-icon-only-padding-var: --#{$button-prefix}xs-icon-only-padding !default;
$button-sm-font-size-var: --#{$button-prefix}sm-font-size !default;
$button-sm-height-var: --#{$button-prefix}sm-height !default;
$button-sm-padding-var: --#{$button-prefix}sm-padding !default;
$button-sm-gap-var: --#{$button-prefix}sm-gap !default;
$button-sm-icon-only-padding-var: --#{$button-prefix}sm-icon-only-padding !default;
$button-lg-font-size-var: --#{$button-prefix}lg-font-size !default;
$button-lg-height-var: --#{$button-prefix}lg-height !default;
$button-lg-padding-var: --#{$button-prefix}lg-padding !default;
$button-lg-gap-var: --#{$button-prefix}lg-gap !default;
$button-lg-icon-only-padding-var: --#{$button-prefix}lg-icon-only-padding !default;
$button-xl-font-size-var: --#{$button-prefix}xl-font-size !default;
$button-xl-height-var: --#{$button-prefix}xl-height !default;
$button-xl-padding-var: --#{$button-prefix}xl-padding !default;
$button-xl-gap-var: --#{$button-prefix}xl-gap !default;
$button-xl-icon-only-padding-var: --#{$button-prefix}xl-icon-only-padding !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variables
// ============================================
.#{$button-class-name} {
  // --------------------------------------------
  // Background Colors
  // --------------------------------------------
  #{$button-bg-color-var}: transparent;
  #{$button-hover-bg-color-var}: transparent;
  #{$button-active-bg-color-var}: transparent;
  #{$button-focus-bg-color-var}: transparent;
  #{$button-disabled-bg-color-var}: transparent;

  // --------------------------------------------
  // Text Colors
  // --------------------------------------------
  #{$button-color-var}: inherit;
  #{$button-hover-color-var}: inherit;
  #{$button-active-color-var}: inherit;
  #{$button-focus-color-var}: inherit;
  #{$button-disabled-color-var}: inherit;

  // --------------------------------------------
  // Borders
  // --------------------------------------------
  #{$button-border-color-var}: transparent;
  #{$button-hover-border-color-var}: transparent;
  #{$button-active-border-color-var}: transparent;
  #{$button-focus-border-color-var}: transparent;
  #{$button-disabled-border-color-var}: transparent;
  #{$button-border-width-var}: var(#{border.$border-width-var});
  #{$button-border-radius-var}: 0.25rem;
  #{$button-hover-border-radius-var}: var(#{$button-border-radius-var});
  #{$button-active-border-radius-var}: var(#{$button-border-radius-var});
  #{$button-focus-border-radius-var}: var(#{$button-border-radius-var});
  #{$button-disabled-border-radius-var}: var(#{$button-border-radius-var});

  // --------------------------------------------
  // Opacity
  // --------------------------------------------
  #{$button-opacity-var}: 1;
  #{$button-hover-opacity-var}: 1;
  #{$button-active-opacity-var}: 1;
  #{$button-focus-opacity-var}: 1;
  #{$button-disabled-opacity-var}: 1;

  // --------------------------------------------
  // Cursor
  // --------------------------------------------
  #{$button-cursor-var}: pointer;
  #{$button-disabled-cursor-var}: not-allowed;

  // --------------------------------------------
  // Box Shadow
  // --------------------------------------------
  #{$button-box-shadow-var}: none;
  #{$button-hover-box-shadow-var}: none;
  #{$button-active-box-shadow-var}: none;
  #{$button-focus-box-shadow-var}: none;
  #{$button-disabled-box-shadow-var}: none;

  // --------------------------------------------
  // Transition
  // --------------------------------------------
  #{$button-transition-var}: 0.3s;

  // --------------------------------------------
  // Focus ring
  // --------------------------------------------
  #{$button-focus-ring-color-var}: var(#{color-defines.$border-color-var});
  #{$button-focus-ring-width-var}: 2px;
  #{$button-focus-ring-offset-var}: 2px;

  // --------------------------------------------
  // Sizes
  // --------------------------------------------
  #{$button-font-size-var}: inherit;
  #{$button-height-var}: 36px;
  #{$button-padding-var}: 0px 24px;
  #{$button-gap-var}: 0.5em;
  #{$button-icon-only-padding-var}: 0.5em;
  #{$button-xs-font-size-var}: 0.625rem;
  #{$button-xs-height-var}: 28px;
  #{$button-xs-padding-var}: 0px 12px;
  #{$button-xs-gap-var}: 0.25em;
  #{$button-xs-icon-only-padding-var}: 0.125em;
  #{$button-sm-font-size-var}: 0.75rem;
  #{$button-sm-height-var}: 32px;
  #{$button-sm-padding-var}: 0px 16px;
  #{$button-sm-gap-var}: 0.375em;
  #{$button-sm-icon-only-padding-var}: 0.25em;
  #{$button-lg-font-size-var}: 1.5rem;
  #{$button-lg-height-var}: 56px;
  #{$button-lg-padding-var}: 0px 48px;
  #{$button-lg-gap-var}: 0.75em;
  #{$button-lg-icon-only-padding-var}: 0.75em;
  #{$button-xl-font-size-var}: 1.875rem;
  #{$button-xl-height-var}: 74px;
  #{$button-xl-padding-var}: 0px 64px;
  #{$button-xl-gap-var}: 1em;
  #{$button-xl-icon-only-padding-var}: 1em;
}

// ============================================
// Overrides
// ============================================
.#{$button-class-name} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(#{$button-gap-var});
  vertical-align: middle;
  background-color: var(#{$button-bg-color-var});
  color: var(#{$button-color-var});
  border: var(#{$button-border-width-var}) solid
    var(#{$button-border-color-var});
  opacity: var(#{$button-opacity-var});
  cursor: var(#{$button-cursor-var});
  box-shadow: var(#{$button-box-shadow-var});
  transition: var(#{$button-transition-var});
  font-size: var(#{$button-font-size-var});
  padding: var(#{$button-padding-var});
  border-radius: var(#{$button-border-radius-var});
  height: var(#{$button-height-var});

  // --------------------------------------------
  // Sizes
  // ---------------------------------------------
  &.xs {
    font-size: var(#{$button-xs-font-size-var});
    height: var(#{$button-xs-height-var});
    gap: var(#{$button-xs-gap-var});
    padding: var(#{$button-xs-padding-var});
  }
  &.sm {
    font-size: var(#{$button-sm-font-size-var});
    height: var(#{$button-sm-height-var});
    gap: var(#{$button-sm-gap-var});
    padding: var(#{$button-sm-padding-var});
  }
  &.md {
    font-size: var(#{$button-font-size-var});
    height: var(#{$button-height-var});
    gap: var(#{$button-gap-var});
    padding: var(#{$button-padding-var});
  }
  &.lg {
    font-size: var(#{$button-lg-font-size-var});
    height: var(#{$button-lg-height-var});
    gap: var(#{$button-lg-gap-var});
    padding: var(#{$button-lg-padding-var});
  }
  &.xl {
    font-size: var(#{$button-xl-font-size-var});
    height: var(#{$button-xl-height-var});
    gap: var(#{$button-xl-gap-var});
    padding: var(#{$button-xl-padding-var});
  }

  // --------------------------------------------
  // Icon
  // ---------------------------------------------
  > span {
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }

  // --------------------------------------------
  // Icon Only
  // ---------------------------------------------
  &.icon-only {
    height: var(#{$button-height-var});
    width: var(#{$button-height-var});
    &.xs {
      height: var(#{$button-xs-height-var});
      width: var(#{$button-xs-height-var});
    }
    &.sm {
      height: var(#{$button-sm-height-var});
      width: var(#{$button-sm-height-var});
    }
    &.lg {
      height: var(#{$button-lg-height-var});
      width: var(#{$button-lg-height-var});
    }
    &.xl {
      height: var(#{$button-xl-height-var});
      width: var(#{$button-xl-height-var});
    }
  }

  &:hover {
    background-color: var(#{$button-hover-bg-color-var});
    color: var(#{$button-hover-color-var});
    border-color: var(#{$button-hover-border-color-var});
    border-radius: var(#{$button-hover-border-radius-var});
    opacity: var(#{$button-hover-opacity-var});
    box-shadow: var(#{$button-hover-box-shadow-var});
  }
  &:active {
    background-color: var(#{$button-active-bg-color-var});
    color: var(#{$button-active-color-var});
    border-color: var(#{$button-active-border-color-var});
    border-radius: var(#{$button-active-border-radius-var});
    opacity: var(#{$button-active-opacity-var});
    box-shadow: var(#{$button-active-box-shadow-var});
  }
  &:disabled {
    background-color: var(#{$button-disabled-bg-color-var});
    color: var(#{$button-disabled-color-var});
    border-color: var(#{$button-disabled-border-color-var});
    border-radius: var(#{$button-disabled-border-radius-var});
    opacity: var(#{$button-disabled-opacity-var});
    cursor: var(#{$button-disabled-cursor-var});
    box-shadow: var(#{$button-disabled-box-shadow-var});
  }
  &:focus-visible {
    background-color: var(#{$button-focus-bg-color-var});
    color: var(#{$button-focus-color-var});
    border-color: var(#{$button-focus-border-color-var});
    border-radius: var(#{$button-focus-border-radius-var});
    opacity: var(#{$button-focus-opacity-var});
    box-shadow: var(#{$button-focus-box-shadow-var});
    outline: var(#{$button-focus-ring-width-var}) solid
      var(#{$button-focus-ring-color-var});
    outline-offset: var(#{$button-focus-ring-offset-var});
  }
}

// ============================================
// Variants
// ============================================
.#{$button-class-name},
.#{$button-class-name}.filled {
  // --------------------------------------------
  // Background Colors
  // --------------------------------------------
  #{$button-bg-color-var}: var(#{palette.$palette-default-var});
  #{$button-hover-bg-color-var}: var(#{palette.$palette-dark-var});
  #{$button-active-bg-color-var}: var(#{palette.$palette-darker-var});
  #{$button-focus-bg-color-var}: var(#{$button-hover-bg-color-var});
  #{$button-disabled-bg-color-var}: var(
    #{color-defines.$border-color-subtle-var}
  );

  // --------------------------------------------
  // Text Colors
  // --------------------------------------------
  #{$button-color-var}: var(#{palette.$palette-default-accent-var});
  #{$button-hover-color-var}: var(#{palette.$palette-dark-accent-var});
  #{$button-active-color-var}: var(#{palette.$palette-darker-accent-var});
  #{$button-focus-color-var}: var(#{$button-hover-color-var});
  #{$button-disabled-color-var}: var(#{color-defines.$border-color-var});

  // --------------------------------------------
  // Borders
  // --------------------------------------------
  #{$button-border-color-var}: transparent;
  #{$button-hover-border-color-var}: transparent;
  #{$button-active-border-color-var}: transparent;
  #{$button-focus-border-color-var}: transparent;
  #{$button-disabled-border-color-var}: transparent;
  #{$button-border-radius-var}: 0.25rem;
  #{$button-border-width-var}: 0px;

  // --------------------------------------------
  // Box Shadow
  // --------------------------------------------
  #{$button-box-shadow-var}: none;
  #{$button-hover-box-shadow-var}: none;
  #{$button-active-box-shadow-var}: none;
  #{$button-focus-box-shadow-var}: none;
  #{$button-disabled-box-shadow-var}: none;
}

.#{$button-class-name}.tonal {
  // --------------------------------------------
  // Background Colors
  // --------------------------------------------
  #{$button-bg-color-var}: var(#{palette.$palette-lighter-var});
  #{$button-hover-bg-color-var}: var(#{palette.$palette-light-var});
  #{$button-active-bg-color-var}: var(#{palette.$palette-default-var});
  #{$button-focus-bg-color-var}: var(#{$button-hover-bg-color-var});
  #{$button-disabled-bg-color-var}: var(#{color-defines.$surface-color-var});

  // --------------------------------------------
  // Text Colors
  // --------------------------------------------
  #{$button-color-var}: var(#{palette.$palette-dark-var});
  #{$button-hover-color-var}: var(#{palette.$palette-dark-var});
  #{$button-active-color-var}: var(#{palette.$palette-darker-var});
  #{$button-focus-color-var}: var(#{$button-hover-color-var});
  #{$button-disabled-color-var}: var(#{color-defines.$border-color-var});

  // --------------------------------------------
  // Borders
  // --------------------------------------------
  #{$button-border-color-var}: transparent;
  #{$button-hover-border-color-var}: transparent;
  #{$button-active-border-color-var}: transparent;
  #{$button-focus-border-color-var}: transparent;
  #{$button-disabled-border-color-var}: transparent;
  #{$button-border-radius-var}: 0.25rem;
  #{$button-border-width-var}: 0px;

  // --------------------------------------------
  // Box Shadow
  // --------------------------------------------
  #{$button-box-shadow-var}: none;
  #{$button-hover-box-shadow-var}: none;
  #{$button-active-box-shadow-var}: none;
  #{$button-focus-box-shadow-var}: none;
  #{$button-disabled-box-shadow-var}: none;
}

.#{$button-class-name}.outlined {
  // --------------------------------------------
  // Background Colors
  // --------------------------------------------
  #{$button-bg-color-var}: transparent;
  #{$button-hover-bg-color-var}: var(#{palette.$palette-lighter-var});
  #{$button-active-bg-color-var}: var(#{palette.$palette-light-var});
  #{$button-focus-bg-color-var}: var(#{$button-hover-bg-color-var});
  #{$button-disabled-bg-color-var}: transparent;

  // --------------------------------------------
  // Text Colors
  // --------------------------------------------
  #{$button-color-var}: var(#{palette.$palette-default-var});
  #{$button-hover-color-var}: var(#{palette.$palette-dark-var});
  #{$button-active-color-var}: var(#{palette.$palette-dark-var});
  #{$button-focus-color-var}: var(#{$button-hover-color-var});
  #{$button-disabled-color-var}: var(#{color-defines.$border-color-var});

  // --------------------------------------------
  // Borders
  // --------------------------------------------
  #{$button-border-color-var}: var(#{palette.$palette-default-var});
  #{$button-hover-border-color-var}: var(#{palette.$palette-default-var});
  #{$button-active-border-color-var}: var(#{palette.$palette-default-var});
  #{$button-focus-border-color-var}: var(#{palette.$palette-default-var});
  #{$button-disabled-border-color-var}: var(#{color-defines.$border-color-var});
  #{$button-border-radius-var}: 0.25rem;
  #{$button-border-width-var}: var(#{border.$border-width-var});

  // --------------------------------------------
  // Box Shadow
  // --------------------------------------------
  #{$button-box-shadow-var}: none;
  #{$button-hover-box-shadow-var}: none;
  #{$button-active-box-shadow-var}: none;
  #{$button-focus-box-shadow-var}: none;
  #{$button-disabled-box-shadow-var}: none;
}

.#{$button-class-name}.text {
  // --------------------------------------------
  // Background Colors
  // --------------------------------------------
  #{$button-bg-color-var}: transparent;
  #{$button-hover-bg-color-var}: var(#{palette.$palette-lighter-var});
  #{$button-active-bg-color-var}: var(#{palette.$palette-light-var});
  #{$button-focus-bg-color-var}: var(#{$button-hover-bg-color-var});
  #{$button-disabled-bg-color-var}: transparent;

  // --------------------------------------------
  // Text Colors
  // --------------------------------------------
  #{$button-color-var}: var(#{palette.$palette-default-var});
  #{$button-hover-color-var}: var(#{palette.$palette-dark-var});
  #{$button-active-color-var}: var(#{palette.$palette-dark-var});
  #{$button-focus-color-var}: var(#{$button-hover-color-var});
  #{$button-disabled-color-var}: var(#{color-defines.$border-color-var});

  // --------------------------------------------
  // Borders
  // --------------------------------------------
  #{$button-border-color-var}: transparent;
  #{$button-hover-border-color-var}: transparent;
  #{$button-active-border-color-var}: transparent;
  #{$button-focus-border-color-var}: transparent;
  #{$button-disabled-border-color-var}: transparent;
  #{$button-border-radius-var}: 0.25rem;
  #{$button-border-width-var}: 0px;

  // --------------------------------------------
  // Box Shadow
  // --------------------------------------------
  #{$button-box-shadow-var}: none;
  #{$button-hover-box-shadow-var}: none;
  #{$button-active-box-shadow-var}: none;
  #{$button-focus-box-shadow-var}: none;
  #{$button-disabled-box-shadow-var}: none;
}
