@use "../../utilities/prefixes" as prefixes;
@use "../utilities/palette" as palette;
@use "../utilities/color-defines" as color-defines;

// ============================================
// Prefixes
// ============================================
// --------------------------------------------
// Prefixes
// --------------------------------------------
$checkbox-prefix: #{prefixes.$prefix}checkbox- !default;

// --------------------------------------------
// Class Names
// --------------------------------------------
$checkbox-class-name: checkbox !default;

// --------------------------------------------
// Variants
// --------------------------------------------
// --------------------------------------------
// Background Colors
// --------------------------------------------
$checkbox-bg-color-var: --#{$checkbox-prefix}bg-color !default;
$checkbox-hover-bg-color-var: --#{$checkbox-prefix}hover-bg-color !default;
$checkbox-active-bg-color-var: --#{$checkbox-prefix}active-bg-color !default;
$checkbox-focus-bg-color-var: --#{$checkbox-prefix}focus-bg-color !default;
$checkbox-disabled-bg-color-var: --#{$checkbox-prefix}disabled-bg-color !default;
$checkbox-checked-bg-color-var: --#{$checkbox-prefix}checked-bg-color !default;
$checkbox-checked-hover-bg-color-var: --#{$checkbox-prefix}checked-hover-bg-color !default;
$checkbox-checked-active-bg-color-var: --#{$checkbox-prefix}checked-active-bg-color !default;
$checkbox-checked-focus-bg-color-var: --#{$checkbox-prefix}checked-focus-bg-color !default;
$checkbox-checked-disabled-bg-color-var: --#{$checkbox-prefix}checked-disabled-bg-color !default;

// --------------------------------------------
// Borders
// --------------------------------------------
$checkbox-border-width-var: --#{$checkbox-prefix}border-width !default;
$checkbox-border-radius-var: --#{$checkbox-prefix}border-radius !default;
$checkbox-border-color-var: --#{$checkbox-prefix}border-color !default;
$checkbox-hover-border-color-var: --#{$checkbox-prefix}hover-border-color !default;
$checkbox-active-border-color-var: --#{$checkbox-prefix}active-border-color !default;
$checkbox-focus-border-color-var: --#{$checkbox-prefix}focus-border-color !default;
$checkbox-disabled-border-color-var: --#{$checkbox-prefix}disabled-border-color !default;
$checkbox-checked-border-color-var: --#{$checkbox-prefix}checked-border-color !default;
$checkbox-checked-hover-border-color-var: --#{$checkbox-prefix}checked-hover-border-color !default;
$checkbox-checked-active-border-color-var: --#{$checkbox-prefix}checked-active-border-color !default;
$checkbox-checked-focus-border-color-var: --#{$checkbox-prefix}checked-focus-border-color !default;
$checkbox-checked-disabled-border-color-var: --#{$checkbox-prefix}checked-disabled-border-color !default;

// --------------------------------------------
// Opacity
// --------------------------------------------
$checkbox-opacity-var: --#{$checkbox-prefix}opacity !default;
$checkbox-disabled-opacity-var: --#{$checkbox-prefix}disabled-opacity !default;

// --------------------------------------------
// Sizes
// --------------------------------------------
$checkbox-size-var: --#{$checkbox-prefix}size !default;
$checkbox-sm-size-var: --#{$checkbox-prefix}sm-size !default;
$checkbox-lg-size-var: --#{$checkbox-prefix}lg-size !default;

// --------------------------------------------
// Check Mark
// --------------------------------------------
$checkbox-mark-color-var: --#{$checkbox-prefix}mark-color !default;
$checkbox-disabled-mark-color-var: --#{$checkbox-prefix}disabled-mark-color !default;
$checkbox-mark-image-var: --#{$checkbox-prefix}mark-image !default;
$checkbox-indeterminate-mark-image-var: --#{$checkbox-prefix}indeterminate-mark-image !default;
$default-mark-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' d='M5 13l4 4L19 7'/%3E%3C/svg%3E");
$default-indeterminate-mark-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cline x1='5' y1='12' x2='19' y2='12' fill='none' stroke='white' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");

// --------------------------------------------
// Cursor
// --------------------------------------------
$checkbox-cursor-var: --#{$checkbox-prefix}cursor !default;
$checkbox-disabled-cursor-var: --#{$checkbox-prefix}disabled-cursor !default;

// --------------------------------------------
// Transition
// --------------------------------------------
$checkbox-transition-var: --#{$checkbox-prefix}transition !default;

// --------------------------------------------
// Focus Ring
// --------------------------------------------
$checkbox-focus-ring-width-var: --#{$checkbox-prefix}focus-ring-width !default;
$checkbox-focus-ring-color-var: --#{$checkbox-prefix}focus-ring-color !default;
$checkbox-focus-ring-offset-width-var: --#{$checkbox-prefix}focus-ring-offset-width !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variables
// ============================================
.#{$checkbox-class-name} {
  // --------------------------------------------
  // Background Colors
  // --------------------------------------------
  #{$checkbox-bg-color-var}: transparent;
  #{$checkbox-hover-bg-color-var}: var(#{color-defines.$surface-color-var});
  #{$checkbox-active-bg-color-var}: var(
    #{color-defines.$surface-color-sunken-var}
  );
  #{$checkbox-focus-bg-color-var}: var(#{color-defines.$surface-color-var});
  #{$checkbox-disabled-bg-color-var}: transparent;
  #{$checkbox-checked-bg-color-var}: var(#{palette.$palette-default-var});
  #{$checkbox-checked-hover-bg-color-var}: var(
    #{$checkbox-checked-bg-color-var}
  );
  #{$checkbox-checked-active-bg-color-var}: var(
    #{$checkbox-checked-bg-color-var}
  );
  #{$checkbox-checked-focus-bg-color-var}: var(
    #{$checkbox-checked-bg-color-var}
  );
  #{$checkbox-checked-disabled-bg-color-var}: var(
    #{color-defines.$border-color-var}
  );

  // --------------------------------------------
  // Borders
  // --------------------------------------------
  #{$checkbox-border-width-var}: 2px;
  #{$checkbox-border-radius-var}: 4px;
  #{$checkbox-border-color-var}: var(
    #{color-defines.$control-border-color-var}
  );
  #{$checkbox-hover-border-color-var}: var(
    #{color-defines.$control-border-color-strong-var}
  );
  #{$checkbox-active-border-color-var}: var(
    #{color-defines.$control-border-color-strong-var}
  );
  #{$checkbox-focus-border-color-var}: var(
    #{color-defines.$control-border-color-strong-var}
  );
  #{$checkbox-disabled-border-color-var}: var(
    #{color-defines.$control-border-color-subtle-var}
  );
  #{$checkbox-checked-border-color-var}: var(#{palette.$palette-default-var});
  #{$checkbox-checked-hover-border-color-var}: var(
    #{palette.$palette-default-var}
  );
  #{$checkbox-checked-active-border-color-var}: var(
    #{palette.$palette-default-var}
  );
  #{$checkbox-checked-focus-border-color-var}: var(
    #{palette.$palette-default-var}
  );
  #{$checkbox-checked-disabled-border-color-var}: var(
    #{color-defines.$border-color-var}
  );

  // --------------------------------------------
  // Opacity
  // --------------------------------------------
  #{$checkbox-opacity-var}: 1;
  #{$checkbox-disabled-opacity-var}: 0.6;

  // --------------------------------------------
  // Sizes
  // --------------------------------------------
  #{$checkbox-size-var}: 1rem;
  #{$checkbox-sm-size-var}: 0.75rem;
  #{$checkbox-lg-size-var}: 1.5rem;

  // --------------------------------------------
  // Check Mark
  // --------------------------------------------
  #{$checkbox-mark-color-var}: var(#{palette.$palette-default-accent-var});
  #{$checkbox-disabled-mark-color-var}: var(
    #{color-defines.$surface-color-overlay-var}
  );
  #{$checkbox-mark-image-var}: #{$default-mark-image};
  #{$checkbox-indeterminate-mark-image-var}: #{$default-indeterminate-mark-image};

  // --------------------------------------------
  // Cursor
  // --------------------------------------------
  #{$checkbox-cursor-var}: pointer;
  #{$checkbox-disabled-cursor-var}: not-allowed;

  // --------------------------------------------
  // Transition
  // --------------------------------------------
  #{$checkbox-transition-var}: 0.2s;

  // --------------------------------------------
  // Focus Ring
  // --------------------------------------------
  #{$checkbox-focus-ring-width-var}: 2px;
  #{$checkbox-focus-ring-color-var}: var(#{palette.$palette-default-var});
  #{$checkbox-focus-ring-offset-width-var}: 2px;
}

// ============================================
// Overrides
// ============================================
.#{$checkbox-class-name} {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;

  background-color: var(#{$checkbox-bg-color-var});

  border-width: var(#{$checkbox-border-width-var});
  border-color: var(#{$checkbox-border-color-var});
  border-radius: var(#{$checkbox-border-radius-var});
  border-style: solid;

  opacity: var(#{$checkbox-opacity-var});

  transition: var(#{$checkbox-transition-var});

  width: var(#{$checkbox-size-var});
  height: var(#{$checkbox-size-var});

  &.sm {
    width: var(#{$checkbox-sm-size-var});
    height: var(#{$checkbox-sm-size-var});
  }
  &.md {
    width: var(#{$checkbox-size-var});
    height: var(#{$checkbox-size-var});
  }
  &.lg {
    width: var(#{$checkbox-lg-size-var});
    height: var(#{$checkbox-lg-size-var});
  }

  cursor: var(#{$checkbox-cursor-var});

  &:hover {
    background-color: var(#{$checkbox-hover-bg-color-var});
    border-color: var(#{$checkbox-hover-border-color-var});
  }
  &:active {
    background-color: var(#{$checkbox-active-bg-color-var});
    border-color: var(#{$checkbox-active-border-color-var});
  }
  &:focus-visible {
    background-color: var(#{$checkbox-focus-bg-color-var});
    border-color: var(#{$checkbox-focus-border-color-var});
    outline-width: var(#{$checkbox-focus-ring-width-var});
    outline-color: var(#{$checkbox-focus-ring-color-var});
    outline-offset: var(#{$checkbox-focus-ring-offset-width-var});
    outline-style: solid;
  }
  &:disabled {
    background-color: var(#{$checkbox-disabled-bg-color-var});
    border-color: var(#{$checkbox-disabled-border-color-var});
    opacity: var(#{$checkbox-disabled-opacity-var});
    cursor: var(#{$checkbox-disabled-cursor-var});
  }

  &:checked,
  &:indeterminate {
    background-color: var(#{$checkbox-checked-bg-color-var});
    border-color: var(#{$checkbox-checked-border-color-var});

    &:hover {
      background-color: var(#{$checkbox-checked-hover-bg-color-var});
      border-color: var(#{$checkbox-checked-hover-border-color-var});
    }
    &:active {
      background-color: var(#{$checkbox-checked-active-bg-color-var});
      border-color: var(#{$checkbox-checked-active-border-color-var});
    }
    &:focus-visible {
      background-color: var(#{$checkbox-checked-focus-bg-color-var});
      border-color: var(#{$checkbox-checked-focus-border-color-var});
      outline-width: var(#{$checkbox-focus-ring-width-var});
      outline-color: var(#{$checkbox-focus-ring-color-var});
      outline-offset: var(#{$checkbox-focus-ring-offset-width-var});
      outline-style: solid;
    }
    &:disabled {
      background-color: var(#{$checkbox-checked-disabled-bg-color-var});
      border-color: var(#{$checkbox-checked-disabled-border-color-var});
      opacity: var(#{$checkbox-disabled-opacity-var});
    }
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &:checked::before,
  &:indeterminate::before {
    background-color: var(#{$checkbox-mark-color-var});
  }

  &:checked:disabled::before,
  &:indeterminate:disabled::before {
    background-color: var(#{$checkbox-disabled-mark-color-var});
  }

  &:checked::before {
    mask-image: var(#{$checkbox-mark-image-var});
  }

  &:indeterminate::before {
    mask-image: var(#{$checkbox-indeterminate-mark-image-var});
  }
}
