@use "../../utilities/prefixes" as prefixes;
@use "../utilities/palette" as palette;
@use "../utilities/color-defines" as color-defines;

// ============================================
// Prefixes
// ============================================
// --------------------------------------------
// Prefixes
// --------------------------------------------
$radio-prefix: #{prefixes.$prefix}radio- !default;

// --------------------------------------------
// Class Names
// --------------------------------------------
$radio-class-name: radio !default;

// --------------------------------------------
// Variants
// --------------------------------------------
// --------------------------------------------
// Background Colors
// --------------------------------------------
$radio-bg-color-var: --#{$radio-prefix}bg-color !default;
$radio-hover-bg-color-var: --#{$radio-prefix}hover-bg-color !default;
$radio-active-bg-color-var: --#{$radio-prefix}active-bg-color !default;
$radio-focus-bg-color-var: --#{$radio-prefix}focus-bg-color !default;
$radio-disabled-bg-color-var: --#{$radio-prefix}disabled-bg-color !default;
$radio-checked-bg-color-var: --#{$radio-prefix}checked-bg-color !default;
$radio-checked-hover-bg-color-var: --#{$radio-prefix}checked-hover-bg-color !default;
$radio-checked-active-bg-color-var: --#{$radio-prefix}checked-active-bg-color !default;
$radio-checked-focus-bg-color-var: --#{$radio-prefix}checked-focus-bg-color !default;
$radio-checked-disabled-bg-color-var: --#{$radio-prefix}checked-disabled-bg-color !default;

// --------------------------------------------
// Borders
// --------------------------------------------
$radio-border-width-var: --#{$radio-prefix}border-width !default;
$radio-border-radius-var: --#{$radio-prefix}border-radius !default;
$radio-border-color-var: --#{$radio-prefix}border-color !default;
$radio-hover-border-color-var: --#{$radio-prefix}hover-border-color !default;
$radio-active-border-color-var: --#{$radio-prefix}active-border-color !default;
$radio-focus-border-color-var: --#{$radio-prefix}focus-border-color !default;
$radio-disabled-border-color-var: --#{$radio-prefix}disabled-border-color !default;
$radio-checked-border-color-var: --#{$radio-prefix}checked-border-color !default;
$radio-checked-hover-border-color-var: --#{$radio-prefix}checked-hover-border-color !default;
$radio-checked-active-border-color-var: --#{$radio-prefix}checked-active-border-color !default;
$radio-checked-focus-border-color-var: --#{$radio-prefix}checked-focus-border-color !default;
$radio-checked-disabled-border-color-var: --#{$radio-prefix}checked-disabled-border-color !default;

// --------------------------------------------
// Opacity
// --------------------------------------------
$radio-opacity-var: --#{$radio-prefix}opacity !default;
$radio-disabled-opacity-var: --#{$radio-prefix}disabled-opacity !default;

// --------------------------------------------
// Sizes
// --------------------------------------------
$radio-size-var: --#{$radio-prefix}size !default;
$radio-sm-size-var: --#{$radio-prefix}sm-size !default;
$radio-lg-size-var: --#{$radio-prefix}lg-size !default;

// --------------------------------------------
// Check Mark
// --------------------------------------------
$radio-mark-color-var: --#{$radio-prefix}mark-color !default;
$radio-disabled-mark-color-var: --#{$radio-prefix}disabled-mark-color !default;
$radio-mark-size-var: --#{$radio-prefix}mark-size !default;

// --------------------------------------------
// Cursor
// --------------------------------------------
$radio-cursor-var: --#{$radio-prefix}cursor !default;
$radio-disabled-cursor-var: --#{$radio-prefix}disabled-cursor !default;

// --------------------------------------------
// Transition
// --------------------------------------------
$radio-transition-var: --#{$radio-prefix}transition !default;

// --------------------------------------------
// Focus Ring
// --------------------------------------------
$radio-focus-ring-width-var: --#{$radio-prefix}focus-ring-width !default;
$radio-focus-ring-color-var: --#{$radio-prefix}focus-ring-color !default;
$radio-focus-ring-offset-width-var: --#{$radio-prefix}focus-ring-offset-width !default;

// --------------------------------------------
// Validation
// --------------------------------------------
$radio-invalid-border-color-var: --#{$radio-prefix}invalid-border-color !default;
$radio-valid-border-color-var: --#{$radio-prefix}valid-border-color !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variables
// ============================================
.#{$radio-class-name} {
  // --------------------------------------------
  // Background Colors
  // --------------------------------------------
  #{$radio-bg-color-var}: transparent;
  #{$radio-hover-bg-color-var}: var(#{color-defines.$surface-color-var});
  #{$radio-active-bg-color-var}: var(#{color-defines.$surface-color-dark-var});
  #{$radio-focus-bg-color-var}: var(#{color-defines.$surface-color-var});
  #{$radio-disabled-bg-color-var}: transparent;
  #{$radio-checked-bg-color-var}: var(#{$radio-bg-color-var});
  #{$radio-checked-hover-bg-color-var}: var(#{$radio-hover-bg-color-var});
  #{$radio-checked-active-bg-color-var}: var(#{$radio-active-bg-color-var});
  #{$radio-checked-focus-bg-color-var}: var(#{$radio-focus-bg-color-var});
  #{$radio-checked-disabled-bg-color-var}: var(#{$radio-disabled-bg-color-var});

  // --------------------------------------------
  // Borders
  // --------------------------------------------
  #{$radio-border-width-var}: 2px;
  #{$radio-border-radius-var}: 50%;
  #{$radio-border-color-var}: var(#{color-defines.$border-color-var});
  #{$radio-hover-border-color-var}: var(#{color-defines.$border-color-var});
  #{$radio-active-border-color-var}: var(#{color-defines.$border-color-var});
  #{$radio-focus-border-color-var}: var(#{color-defines.$border-color-var});
  #{$radio-disabled-border-color-var}: var(#{color-defines.$border-color-var});
  #{$radio-checked-border-color-var}: var(#{palette.$palette-default-var});
  #{$radio-checked-hover-border-color-var}: var(
    #{palette.$palette-default-var}
  );
  #{$radio-checked-active-border-color-var}: var(
    #{palette.$palette-default-var}
  );
  #{$radio-checked-focus-border-color-var}: var(
    #{palette.$palette-default-var}
  );
  #{$radio-checked-disabled-border-color-var}: var(
    #{color-defines.$border-color-var}
  );

  // --------------------------------------------
  // Opacity
  // --------------------------------------------
  #{$radio-opacity-var}: 1;
  #{$radio-disabled-opacity-var}: 0.6;

  // --------------------------------------------
  // Sizes
  // --------------------------------------------
  #{$radio-size-var}: 1rem;
  #{$radio-sm-size-var}: 0.75rem;
  #{$radio-lg-size-var}: 1.5rem;

  // --------------------------------------------
  // Check Mark
  // --------------------------------------------
  #{$radio-mark-color-var}: var(#{palette.$palette-default-var});
  #{$radio-disabled-mark-color-var}: var(#{color-defines.$border-color-var});
  #{$radio-mark-size-var}: 50%;

  // --------------------------------------------
  // Cursor
  // --------------------------------------------
  #{$radio-cursor-var}: pointer;
  #{$radio-disabled-cursor-var}: not-allowed;

  // --------------------------------------------
  // Transition
  // --------------------------------------------
  #{$radio-transition-var}: 0.2s;

  // --------------------------------------------
  // Focus Ring
  // --------------------------------------------
  #{$radio-focus-ring-width-var}: 2px;
  #{$radio-focus-ring-color-var}: var(#{palette.$palette-default-var});
  #{$radio-focus-ring-offset-width-var}: 2px;

  // --------------------------------------------
  // Validation
  // --------------------------------------------
  #{$radio-invalid-border-color-var}: var(--danger-default);
  #{$radio-valid-border-color-var}: var(--success-default);
}

// ============================================
// Overrides
// ============================================
.#{$radio-class-name} {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(#{$radio-bg-color-var});

  border-width: var(#{$radio-border-width-var});
  border-color: var(#{$radio-border-color-var});
  border-radius: var(#{$radio-border-radius-var});
  border-style: solid;

  opacity: var(#{$radio-opacity-var});

  transition: var(#{$radio-transition-var});

  width: var(#{$radio-size-var});
  height: var(#{$radio-size-var});

  &.sm {
    width: var(#{$radio-sm-size-var});
    height: var(#{$radio-sm-size-var});
  }
  &.md {
    width: var(#{$radio-size-var});
    height: var(#{$radio-size-var});
  }
  &.lg {
    width: var(#{$radio-lg-size-var});
    height: var(#{$radio-lg-size-var});
  }

  cursor: var(#{$radio-cursor-var});

  &:hover {
    background-color: var(#{$radio-hover-bg-color-var});
    border-color: var(#{$radio-hover-border-color-var});
  }
  &:active {
    background-color: var(#{$radio-active-bg-color-var});
    border-color: var(#{$radio-active-border-color-var});
  }
  &:focus-visible {
    background-color: var(#{$radio-focus-bg-color-var});
    border-color: var(#{$radio-focus-border-color-var});
    outline-width: var(#{$radio-focus-ring-width-var});
    outline-color: var(#{$radio-focus-ring-color-var});
    outline-offset: var(#{$radio-focus-ring-offset-width-var});
    outline-style: solid;
  }
  &:disabled {
    background-color: var(#{$radio-disabled-bg-color-var});
    border-color: var(#{$radio-disabled-border-color-var});
    opacity: var(#{$radio-disabled-opacity-var});
    cursor: var(#{$radio-disabled-cursor-var});
  }

  &:checked,
  &:indeterminate {
    background-color: var(#{$radio-checked-bg-color-var});
    border-color: var(#{$radio-checked-border-color-var});

    &:hover {
      background-color: var(#{$radio-checked-hover-bg-color-var});
      border-color: var(#{$radio-checked-hover-border-color-var});
    }
    &:active {
      background-color: var(#{$radio-checked-active-bg-color-var});
      border-color: var(#{$radio-checked-active-border-color-var});
    }
    &:focus-visible {
      background-color: var(#{$radio-checked-focus-bg-color-var});
      border-color: var(#{$radio-checked-focus-border-color-var});
      outline-width: var(#{$radio-focus-ring-width-var});
      outline-color: var(#{$radio-focus-ring-color-var});
      outline-offset: var(#{$radio-focus-ring-offset-width-var});
      outline-style: solid;
    }
    &:disabled {
      background-color: var(#{$radio-checked-disabled-bg-color-var});
      border-color: var(#{$radio-checked-disabled-border-color-var});
      opacity: var(#{$radio-disabled-opacity-var});
    }
  }

  &::before {
    content: "";
    display: block;
    width: var(#{$radio-mark-size-var});
    height: var(#{$radio-mark-size-var});
    border-radius: 50%;
    background-color: transparent;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &:checked::before {
    background-color: var(#{$radio-mark-color-var});
  }

  &:disabled::before {
    background-color: var(#{$radio-disabled-mark-color-var});
  }
}

// ============================================
// Validation
// ============================================
.#{$radio-class-name}.is-invalid {
  #{$radio-border-color-var}: var(#{$radio-invalid-border-color-var});
  #{$radio-hover-border-color-var}: var(#{$radio-invalid-border-color-var});
  #{$radio-active-border-color-var}: var(#{$radio-invalid-border-color-var});
  #{$radio-focus-border-color-var}: var(#{$radio-invalid-border-color-var});
}
.#{$radio-class-name}.is-valid {
  #{$radio-border-color-var}: var(#{$radio-valid-border-color-var});
  #{$radio-hover-border-color-var}: var(#{$radio-valid-border-color-var});
  #{$radio-active-border-color-var}: var(#{$radio-valid-border-color-var});
  #{$radio-focus-border-color-var}: var(#{$radio-valid-border-color-var});
}
