@use "../../utilities/prefixes" as prefixes;
@use "../utilities/palette" as palette;
@use "../utilities/color-defines" as color-defines;
@use "../utilities/semantics" as semantics;

// ============================================
// Prefixes
// ============================================
// --------------------------------------------
// Prefixes
// --------------------------------------------
$range-prefix: #{prefixes.$prefix}range;

// --------------------------------------------
// Class Names
// --------------------------------------------
$range-class-name: range;

// --------------------------------------------
// Variants
// --------------------------------------------
// --------------------------------------------
// Accent Colors
// --------------------------------------------
$range-accent-color-var: --#{$range-prefix}accent-color;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variables
// ============================================
.#{$range-class-name} {
  // --------------------------------------------
  // Accent Colors
  // --------------------------------------------
  #{$range-accent-color-var}: var(#{palette.$palette-default-var});
}

// ============================================
// Overrides
// ============================================
.#{$range-class-name} {
  accent-color: var(#{$range-accent-color-var});
}
