@use "./_prefixes.scss" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  --shadow-sm: 0 1px 4px rgba(0, 43, 54, 0.12);
  --shadow-md: 0 2px 8px rgba(0, 43, 54, 0.16);
  --shadow-lg: 0 4px 16px rgba(0, 43, 54, 0.20);
}
