@use "../utilities/_prefixes.scss" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .button {
    --button-border-radius: 2px;
    --button-font-size: 14px;
    --button-padding-y: 8px;
    --button-padding-x: 16px;
    // Android Holo uses uppercase text
    text-transform: uppercase;
  }
}
