@use "../utilities/_prefixes.scss" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .form-control {
    --form-control-border-radius: 2px;
    --form-control-font-size: 14px;
    --form-control-padding-y: 8px;
    --form-control-padding-x: 12px;
  }
}
