@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .list,
  .list-group {
    --list-hover-bg-color: rgba(0, 0, 0, 0.04);
    --list-active-bg-color: var(--primary-lighter);
    --list-active-color: var(--primary-accent-lighter);
    --list-disabled-color: var(--text-color-muted);
    --list-border-width: none;
    --list-active-border-radius: 0;
  }
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  .list,
  .list-group {
    --list-hover-bg-color: rgba(255, 255, 255, 0.08);
    --list-active-bg-color: var(--primary-darker);
    --list-active-color: var(--primary-accent-darker);
  }
}
