@use "../utilities/_prefixes.scss" as prefixes;

// The iOS 5 switch is the iconic skeuomorphic toggle
:root[data-theme="#{prefixes.$theme-name}"] {
  .switch {
    --switch-border-radius: 100px;
    --switch-width: 51px;
    --switch-height: 31px;
  }
}
