@use "prefixes" as *;
@use "sass:map";

// ============================================
// Overridable Variants
// ============================================

// ============================================
// デフォルト明度リスト（0-10）
// ============================================
// key: 輝度名
// value: 輝度値
// ============================================
$palette-default-lightness-list: (
  0: 97%,
  1: 93%,
  2: 85%,
  3: 75%,
  4: 65%,
  5: 50%,
  6: 42%,
  7: 34%,
  8: 26%,
  9: 18%,
  10: 10%,
) !default;

// ============================================
// デフォルトレベルリスト
// ============================================
// key: レベル名
// value: 輝度名
// ============================================
$palette-default-level-list: (
  "lighter": 2,
  "light": 3,
  "default": 5,
  "dark": 7,
  "darker": 9,
) !default;

// アクセント輝度（明）
$palette-accent-light-lightness: 97% !default;
// アクセント輝度（暗）
$palette-accent-dark-lightness: 10% !default;
// アクセント
$palette-accent-default-threshold: 50% !default;
// グレーの彩度
$palette-gray-saturation: 5% !default;

// ============================================
// パレット定義リスト
// ============================================
// key: パレット名
// value: パレットプロパティリスト
//   h: 色相
//   s: 彩度
//   lightness-list: 輝度リスト
//     key: 輝度名
//     value: 輝度値
//   threshold: アクセント切り替え輝度
//   level-list: レベルリスト
//     key: レベル名
//     value: 輝度名
// ============================================
$palettes: (
  "primary": (
    h: 220,
    s: 80%,
    level-list: (
      lighter: 2,
      light: 3,
      default: 6,
      dark: 8,
      darker: 9,
    ),
  ),
  "secondary": (
    h: 330,
    s: 80%,
    threshold: 55%,
    levels: (
      lighter: 2,
      light: 3,
      default: 5,
      dark: 7,
      darker: 9,
    ),
  ),
  "tertiary": (
    h: 170,
    s: 60%,
    threshold: 40%,
    levels: (
      lighter: 2,
      light: 4,
      default: 7,
      dark: 9,
      darker: 10,
    ),
  ),
  "success": (
    h: 125,
    s: 60%,
    threshold: 45%,
    levels: (
      lighter: 2,
      light: 4,
      default: 7,
      dark: 9,
      darker: 10,
    ),
  ),
  "warning": (
    h: 50,
    s: 80%,
    threshold: 45%,
    levels: (
      lighter: 2,
      light: 4,
      default: 6,
      dark: 8,
      darker: 9,
    ),
  ),
  "danger": (
    h: 0,
    s: 80%,
    threshold: 50%,
    levels: (
      lighter: 2,
      light: 4,
      default: 6,
      dark: 8,
      darker: 9,
    ),
  ),
  "info": (
    h: 190,
    s: 80%,
    threshold: 40%,
    levels: (
      lighter: 2,
      light: 4,
      default: 7,
      dark: 8,
      darker: 9,
    ),
  ),
) !default;

//=============================================
// Mixins
// ============================================

// ============================================
// Palette Color Generation Mixin
// ============================================
// $palette-lightness-list: 輝度リスト
// $palette-level-list: レベルリスト
// $threshold: Accent Color Threshold
// ============================================
@mixin _generate-palette-colors(
  $palette-lightness-list,
  $palette-level-list,
  $threshold
) {
  // 輝度値のCSS変数定義
  @each $key, $lightness in $palette-lightness-list {
    @if type-of($lightness) == "map" {
      @error "カラーパレット生成エラー: 輝度に連想配列を指定することはできません。";
    }
    --#{$palette-lightness-var}#{$key}: #{$lightness};
  }

  // 実際の色のCSS変数定義
  @each $key, $lightness in $palette-lightness-list {
    --#{$palette-color-prefix}#{$key}: hsl(
      var(--#{$palette-hue-var}),
      var(--#{$palette-saturation-var}),
      var(--#{$palette-lightness-var}#{$key})
    );
  }

  // グレー色のCSS変数定義
  @each $key, $lightness in $palette-lightness-list {
    --#{$palette-gray-prefix}#{$key}: hsl(
      var(--#{$palette-hue-var}),
      var(--#{$palette-gray-saturation-var}),
      var(--#{$palette-lightness-var}#{$key})
    );
  }

  // アクセント色のCSS変数定義
  @each $key, $lightness in $palette-lightness-list {
    @if type-of($threshold) == "map" {
      @error "カラーパレット生成エラー: アクセントの輝度閾値に連想配列を指定することはできません。";
    }
    @if $lightness > $threshold {
      --#{$palette-accent-prefix}#{$key}: hsl(
        var(--#{$palette-hue-var}),
        var(--#{$palette-gray-saturation-var}),
        var(--#{$palette-accent-dark-lightness-var})
      );
    } @else {
      --#{$palette-accent-prefix}#{$key}: hsl(
        var(--#{$palette-hue-var}),
        var(--#{$palette-gray-saturation-var}),
        var(--#{$palette-accent-light-lightness-var})
      );
    }
  }

  // レベルリスト
  @each $level-name, $step-key in $palette-level-list {
    @if type-of($step-key) == "map" {
      @error "カラーパレット生成エラー: レベルの輝度キーに連想配列を指定することはできません。";
    }
    @if not map.has-key($palette-lightness-list, $step-key) {
      @error "カラーパレット生成エラー: レベル '#{$level-name}' に指定された輝度キー '#{$step-key}' は、輝度リストに存在しません。利用可能なキー: #{map.keys($palette-lightness-list)}";
    }

    --#{$palette-prefix}#{$level-name}: var(
      --#{$palette-color-prefix}#{$step-key}
    );
    --#{$palette-accent-prefix}#{$level-name}: var(
      --#{$palette-accent-prefix}#{$step-key}
    );
  }
}

//=============================================
// Process
// ============================================
@each $name, $value in $palettes {
  @if not type-of($value) == "map" {
    @error "カラーパレット生成エラー: パレットの値には連想配列を指定してください。";
  }
  @if not map.has-key($value, h) {
    @error "カラーパレット生成エラー: パレットの値に色相（h）が含まれていません。";
  }
  @if not map.has-key($value, s) {
    @error "カラーパレット生成エラー: パレットの値に彩度（s）が含まれていません。";
  }
  .#{$prefix}#{$name} {
    --#{$palette-hue-var}: #{map.get($value, h)};
    --#{$palette-saturation-var}: #{map.get($value, s)};
    --#{$palette-accent-light-lightness-var}: #{$palette-accent-light-lightness};
    --#{$palette-accent-dark-lightness-var}: #{$palette-accent-dark-lightness};
    --#{$palette-gray-saturation-var}: #{$palette-gray-saturation};

    @include _generate-palette-colors(
      $palette-lightness-list: map.get($value, lightness-list) or
        $palette-default-lightness-list,
      $palette-level-list: map.get($value, level-list) or
        $palette-default-level-list,
      $threshold: map.get($value, threshold) or
        $palette-accent-default-threshold
    );
  }
}
