// ============================================
// Color Definitions
// ============================================
@use "prefixes" as *;

// Hue Definitions
$hues: (// "hues name": (h: hue value, threshold: accent threshold)) !default;

// Semantic Color Definitions
$semantic-colors: (
  /* "semantic name": (
    h: hue variable, 
    s: saturation, 
    threshold: accent threshold, 
    levels: (
        lighter: , 
        light: , 
        default: ,
        dark: , 
        darker: ))
    */
) !default;

// Accent Color Settings
$palette-accent-light: 97% !default;
$palette-accent-dark: 10% !default;
$palette-accent-threshold: 50% !default;

// Default Levels for Semantic Colors
$semantic-levels: (
  "lighter": 2,
  "light": 3,
  "default": 5,
  "dark": 7,
  "darker": 9,
);
