// ============================================
// Prefix Definitions
// ============================================

// ============================================
// Root Prefix
// ============================================
$prefix: "" !default;

// ============================================
// Palette Prefix
// ============================================
// Prefixes
$palette-prefix: #{$prefix}palette- !default;
$palette-color-prefix: #{$palette-prefix}color- !default;
$palette-accent-prefix: #{$palette-prefix}accent- !default;
$palette-gray-prefix: #{$palette-prefix}gray- !default;

// VarNames
$palette-hue-var: #{$palette-prefix}h !default;
$palette-saturation-var: #{$palette-prefix}s !default;
$palette-lightness-var: #{$palette-prefix}l- !default;
$palette-gray-saturation-var: #{$palette-prefix}gs !default;
$palette-accent-light-var: #{$palette-prefix}accent-light !default;
$palette-accent-dark-var: #{$palette-prefix}accent-dark !default;
$palette-accent-threshold-var: #{$palette-prefix}accent-threshold !default;
