// ============================================
// Prefix Definitions
// ============================================

// Root Prefix
$prefix: "" !default;

// Font Prefix
$font-prefix: #{$prefix}font- !default;

// Palette Prefix
$palette-prefix: #{$prefix}palette- !default;
$palette-color-prefix: #{$prefix}palette-color- !default;
$palette-accent-prefix: #{$prefix}palette-accent- !default;
$palette-gray-prefix: #{$prefix}palette-gray- !default;
$palette-hue-prefix: #{$palette-prefix}h !default;
$palette-saturation-prefix: #{$palette-prefix}s !default;
$palette-gray-saturation-prefix: #{$palette-prefix}gs !default;
$palette-lightness-prefix: #{$palette-prefix}l- !default;

// Accent CSS Variable Prefixes
$palette-accent-light-var: #{$palette-prefix}accent-light !default;
$palette-accent-dark-var: #{$palette-prefix}accent-dark !default;
$palette-accent-threshold-var: #{$palette-prefix}accent-threshold !default;

// Semantic Prefix
$semantic-prefix: "" !default;

// Semantic Level CSS Variable Prefix
$semantic-level-prefix: #{$prefix}semantic-level- !default;

// Palette Level Variable Names
$palette-lighter: #{$palette-prefix}lighter !default;
$palette-light: #{$palette-prefix}light !default;
$palette-default: #{$palette-prefix}default !default;
$palette-dark: #{$palette-prefix}dark !default;
$palette-darker: #{$palette-prefix}darker !default;

// Palette Level Accent Variable Names
$palette-lighter-accent: #{$palette-prefix}lighter-accent !default;
$palette-light-accent: #{$palette-prefix}light-accent !default;
$palette-default-accent: #{$palette-prefix}default-accent !default;
$palette-dark-accent: #{$palette-prefix}dark-accent !default;
$palette-darker-accent: #{$palette-prefix}darker-accent !default;

// ============================================
// Neutral Palette Definitions
// ============================================
$neutral-prefix: #{$prefix}neutral- !default;
$neutral-hue-var: #{$neutral-prefix}h !default;
$neutral-saturation-var: #{$neutral-prefix}s !default;
$neutral-accent-threshold-var: #{$neutral-prefix}accent-threshold !default;