@use "./_prefixes.scss" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  --shadow-sm: 0 0 8px rgba(255, 0, 255, 0.40);
  --shadow-md: 0 0 16px rgba(255, 0, 255, 0.50);
  --shadow-lg: 0 0 32px rgba(255, 0, 255, 0.60);
}
