@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .chip {
    --chip-border-radius: 0.375rem;
    --chip-padding: 2px 10px;
    --chip-font-size: 12px;
    --chip-height: 24px;
  }
}
