@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .checkbox {
    --checkbox-border-radius: 0.375rem;
    --checkbox-border-width: 2px;
    --checkbox-size: 20px;
    --checkbox-label-gap: 8px;
  }
}
