@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .chip {
    --chip-border-radius: 100px;
    --chip-padding: 4px 12px;
    --chip-font-size: 14px;
    --chip-height: 32px;
  }
}
