@use "../utilities/_prefixes.scss" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .button {
    --button-border-radius: 4px;
    --button-font-size: 14px;
    --button-padding-y: 7px;
    --button-padding-x: 14px;
  }
}
