@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .alert {
    --alert-border-radius: 0.375rem;
    --alert-border-width: 1px;
    --alert-padding: 12px 16px;
  }
}
