@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .form-control {
    --form-control-border-radius: 0.375rem;
    --form-control-border-width: 1px;
    --form-control-padding: 5px 12px;
    --form-control-font-size: 14px;
    --form-control-height: 32px;
    --form-control-sm-height: 28px;
    --form-control-lg-height: 40px;
    --form-control-focus-ring-width: 3px;
    --form-control-focus-ring-offset-width: 0;
    --form-control-focus-ring-color: var(--primary-default);
    --form-control-focus-shadow: none;
    --form-control-disabled-opacity: 0.6;
  }
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  .form-control {
    --form-control-border-color: #30363d;
    --form-control-bg-color: #0d1117;
    --form-control-disabled-bg-color: rgba(255, 255, 255, 0.04);
  }
}
