@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .button {
    --button-border-width: 1px;
    --button-border-radius: 10rem;
    --button-transition:
      background-color 0.3s, color 0.3s, box-shadow 0.3s, opacity 0.3s,
      border-radius 0.1s;
    --button-focus-ring-color: var(--palette-default);
    --button-active-border-radius: 0.5rem;
    --button-height: 56px;
    --button-padding: 0px 24px;
    --button-gap: 8px;
    --button-xs-height: 32px;
    --button-xs-padding: 0px 12px;
    --button-xs-gap: 4px;
    --button-sm-height: 40px;
    --button-sm-padding: 0px 16px;
    --button-sm-gap: 8px;
    --button-lg-height: 96px;
    --button-lg-padding: 0px 48px;
    --button-lg-gap: 12px;
    --button-xl-height: 136px;
    --button-xl-padding: 0px 64px;
    --button-xl-gap: 16px;

    &.filled {
      --button-hover-bg-color: var(--button-bg-color);
      --button-hover-color: var(--button-color);
      --button-hover-opacity: 0.8;
      --button-active-bg-color: var(--button-bg-color);
      --button-active-color: var(--button-color);
      --button-active-opacity: 0.7;
      --button-border-color: var(--button-bg-color);
      --button-hover-border-color: var(--button-hover-bg-color);
      --button-active-border-color: var(--button-active-bg-color);
      --button-focus-border-color: var(--button-focus-bg-color);
      --button-disabled-bg-color: var(--neutral-lighter);
      --button-disabled-border-color: var(--neutral-lighter);
      --button-disabled-opacity: 1;
      --button-disabled-color: var(--text-color-light);
    }

    &.tonal {
      --button-hover-bg-color: var(--palette-light);
      --button-active-bg-color: var(--button-hover-bg-color);
      --button-focus-bg-color: var(--button-hover-bg-color);
      --button-border-color: var(--button-bg-color);
      --button-hover-border-color: var(--button-hover-bg-color);
      --button-active-border-color: var(--button-active-bg-color);
      --button-focus-border-color: var(--button-focus-bg-color);
      --button-disabled-bg-color: var(--neutral-lighter);
      --button-disabled-border-color: var(--neutral-lighter);
      --button-disabled-opacity: 1;
      --button-disabled-color: var(--text-color-light);
      --button-hover-box-shadow: var(--shadow-1);
    }

    &.outlined {
      --button-disabled-bg-color: var(--neutral-lighter);
      --button-disabled-border-color: var(--neutral-light);
      --button-disabled-opacity: 1;
    }

    &.text {
      --button-focus-bg-color: var(--button-bg-color);
      --button-disabled-bg-color: var(--neutral-lighter);
      --button-disabled-border-color: var(--neutral-lighter);
      --button-disabled-opacity: 1;
      --button-disabled-color: var(--text-color-light);
    }
  }
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  .button {
    &.filled {
      --button-bg-color: var(--palette-light);
      --button-color: var(--palette-darker);
      --button-hover-bg-color: var(--palette-lighter);
      --button-hover-color: var(--palette-darker);
      --button-hover-opacity: 1;
      --button-active-bg-color: var(--palette-lighter);
      --button-active-color: var(--palette-darker);
      --button-active-opacity: 0.9;
      --button-border-color: var(--button-bg-color);
      --button-hover-border-color: var(--button-hover-bg-color);
      --button-active-border-color: var(--button-active-bg-color);
      --button-focus-border-color: var(--button-focus-bg-color);
      --button-disabled-bg-color: var(--neutral-gray-7);
      --button-disabled-border-color: var(--button-disabled-bg-color);
      --button-disabled-opacity: 1;
      --button-disabled-color: var(--neutral-gray-5);
    }

    &.tonal {
      --button-bg-color: var(--palette-darker);
      --button-color: var(--palette-lighter);
      --button-hover-bg-color: var(--palette-dark);
      --button-hover-color: var(--button-color);
      --button-active-bg-color: var(--button-hover-bg-color);
      --button-active-color: var(--button-color);
      --button-focus-bg-color: var(--button-hover-bg-color);
      --button-focus-color: var(--button-color);
      --button-border-color: var(--button-bg-color);
      --button-hover-border-color: var(--button-hover-bg-color);
      --button-active-border-color: var(--button-active-bg-color);
      --button-focus-border-color: var(--button-focus-bg-color);
      --button-disabled-bg-color: var(--neutral-gray-7);
      --button-disabled-border-color: var(--button-disabled-bg-color);
      --button-disabled-opacity: 1;
      --button-disabled-color: var(--neutral-gray-5);
      --button-hover-box-shadow: var(--shadow-1);
    }

    &.outlined {
      --button-hover-bg-color: var(--palette-darker);
      --button-hover-color: var(--button-color);
      --button-active-bg-color: var(--button-hover-bg-color);
      --button-active-color: var(--button-color);
      --button-focus-bg-color: var(--button-hover-bg-color);
      --button-focus-color: var(--button-color);
      --button-disabled-bg-color: var(--neutral-gray-7);
      --button-disabled-border-color: var(--button-disabled-color);
      --button-disabled-opacity: 1;
      --button-disabled-color: var(--neutral-gray-5);
      --button-disabled-opacity: 1;
    }

    &.text {
      --button-hover-bg-color: var(--palette-darker);
      --button-hover-color: var(--button-color);
      --button-active-bg-color: var(--button-hover-bg-color);
      --button-active-color: var(--button-color);
      --button-focus-bg-color: var(--button-hover-bg-color);
      --button-focus-color: var(--button-color);
      --button-disabled-bg-color: var(--neutral-gray-7);
      --button-disabled-border-color: var(--button-disabled-bg-color);
      --button-disabled-opacity: 1;
      --button-disabled-color: var(--neutral-gray-5);
    }
  }
}
