@use "../utilities/prefixes" as prefixes;

// ============================================
// Material3 - form-control overrides
// ============================================
:root[data-theme="#{prefixes.$theme-name}"] {
  .form-control {
    --form-control-disabled-opacity: 0.38;
    --form-control-readonly-cursor: text;
    --form-control-focus-ring-width: 1.5px;
    --form-control-focus-ring-color: var(--palette-default);
    --form-control-focus-ring-opacity: 1;
    --form-control-focus-ring-offset-width: 0px;
  }
}
