@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .select {
    --select-disabled-opacity: 1;
    --select-focus-ring-width: 1.5px;
    --select-focus-ring-color: var(--palette-solid);
    --select-focus-ring-opacity: 1;
    --select-focus-ring-offset-width: 0px;
    // --select-filled-bg-color / --select-filled-hover-bg-color 縺ｯ
    // 繝ｩ繧､繝・繝繝ｼ繧ｯ縺ｧ逡ｰ縺ｪ繧九◆繧∽ｸ玖ｨ倥・繝｢繝ｼ繝牙挨繧ｻ繝ｬ繧ｯ繧ｿ繝ｼ縺ｧ螳夂ｾｩ
    --select-cursor: pointer;
  }
}

:root[data-theme="#{prefixes.$theme-name}"],
:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$light-mode-name}"] {
  .select {
    --select-filled-bg-color: var(--zinc-2);
    --select-filled-hover-bg-color: var(--zinc-3);
  }
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  .select {
    --select-filled-bg-color: var(--zinc-8);
    --select-filled-hover-bg-color: var(--zinc-7);
  }
}
