@use "../../../components/checkbox" as checkbox;
@use "../../../props/prefixes" as prefixes;
@use "../../contract/prefixes" as contract_prefixes;

// ============================================
// Prefixes
// ============================================
// Prefixes

// Class Names

// Variant Names
$checkbox-size-sm-var: --#{checkbox.$checkbox-prefix}size-sm !default;
$checkbox-size-md-var: --#{checkbox.$checkbox-prefix}size-md !default;
$checkbox-size-lg-var: --#{checkbox.$checkbox-prefix}size-lg !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variants
// ============================================
:root {
    #{$checkbox-size-sm-var}: 1rem;
    #{$checkbox-size-md-var}: 1.25rem;
    #{$checkbox-size-lg-var}: 1.75rem;
}

// ============================================
// Overrides
// ============================================
:root {
    #{checkbox.$checkbox-size-var}: var(#{$checkbox-size-md-var});
}

// ============================================
// Sizes
// ============================================
.#{checkbox.$checkbox-class-name} {
    &.sm {
        #{checkbox.$checkbox-size-var}: var(#{$checkbox-size-sm-var});
    }
    &.md {
        #{checkbox.$checkbox-size-var}: var(#{$checkbox-size-md-var});
    }
    &.lg {
        #{checkbox.$checkbox-size-var}: var(#{$checkbox-size-lg-var});
    }
}

// ============================================
// Semantics
// ============================================
.#{checkbox.$checkbox-class-name} {
    #{checkbox.$checkbox-bg-checked-var}: var(#{contract_prefixes.$palette-default-var}, hsl(var(--primary-h, 220) var(--primary-s, 70%) var(--primary-l, 50%)));
}