@use "../../../components/checkbox" as checkbox;
@use "../../../props/prefixes" as prefixes;
@use "../../contract/prefixes" as contract_prefixes;

// ============================================
// Prefixes
// ============================================
// Prefixes

// Class Names

// Variant Names

// ============================================
// Process
// ============================================
// ============================================
// CSS Variants
// ============================================

// ============================================
// Overrides
// ============================================

// ============================================
// Semantics
// ============================================
.#{checkbox.$checkbox-class-name} {
  #{checkbox.$checkbox-accent-color-var}: var(
    #{contract_prefixes.$palette-default-var}
  );
}
