@use "../../../components/progress" as progress;
@use "../../../props/prefixes" as prefixes;
@use "../../contract/prefixes" as contract_prefixes;
@use "../../contract/semantics" as semantics;

// ============================================
// Prefixes
// ============================================
// Variant Names
$progress-height-sm-var: --#{progress.$progress-prefix}height-sm !default;
$progress-height-md-var: --#{progress.$progress-prefix}height-md !default;
$progress-height-lg-var: --#{progress.$progress-prefix}height-lg !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variants
// ============================================
:root {
  #{$progress-height-sm-var}: 0.75rem;
  #{$progress-height-md-var}: 1rem;
  #{$progress-height-lg-var}: 1.5rem;
}

// ============================================
// Overrides
// ============================================
.#{progress.$progress-class-name} {
  #{progress.$progress-accent-color-var}: var(
    #{contract_prefixes.$palette-default-var}
  );
}

// ============================================
// Sizes
// ============================================
.#{progress.$progress-class-name} {
  #{progress.$progress-height-var}: var(#{$progress-height-md-var});

  &.sm {
    #{progress.$progress-height-var}: var(#{$progress-height-sm-var});
  }
  &.lg {
    #{progress.$progress-height-var}: var(#{$progress-height-lg-var});
  }
}
