@use "../../../components/radio" as radio;
@use "../../../props/prefixes" as prefixes;
@use "../../contract/prefixes" as contract_prefixes;

// ============================================
// Prefixes
// ============================================
// Variant Names

// ============================================
// Process
// ============================================

// ============================================
// Overrides
// ============================================

// ============================================
// Semantics
// ============================================
input[type="radio"].#{radio.$radio-class-name} {
  #{radio.$radio-accent-color-var}: var(#{contract_prefixes.$palette-default-var});
}
