@use "../../../components/range" as range;
@use "../../../props/prefixes" as prefixes;
@use "../../contract/prefixes" as contract_prefixes;
@use "../../contract/semantics" as semantics;

// ============================================
// Prefixes
// ============================================

// ============================================
// Process
// ============================================
// ============================================
// CSS Variants
// ============================================

// ============================================
// Overrides
// ============================================
.#{range.$range-class-name} {
  #{range.$range-accent-color-var}: var(
    #{contract_prefixes.$palette-default-var}
  );
}