@use "../../../components/select" as select;
@use "../../../props/prefixes" as prefixes;
@use "../../contract/prefixes" as contract_prefixes;
@use "../../contract/semantics" as semantics;

// ============================================
// Prefixes
// ============================================
// Prefixes
$select-outlined-prefix: #{select.$select-prefix}outlined-;
$select-filled-prefix: #{select.$select-prefix}filled-;
$select-underline-prefix: #{select.$select-prefix}underline-;

// Class Names
$select-outlined-class-name: outlined;
$select-filled-class-name: filled;
$select-underline-class-name: underline;

// Variable Names
// --------------------------------------------
// Outlined
// --------------------------------------------
$select-outlined-bg-var: --#{$select-outlined-prefix}-bg;
$select-outlined-color-var: --#{$select-outlined-prefix}-color;
$select-outlined-border-color-var: --#{$select-outlined-prefix}-border-color;
$select-outlined-bg-hover-var: --#{$select-outlined-prefix}-bg-hover;
$select-outlined-color-hover-var: --#{$select-outlined-prefix}-color-hover;
$select-outlined-border-color-hover-var: --#{$select-outlined-prefix}-border-color-hover;
$select-outlined-bg-focus-var: --#{$select-outlined-prefix}-bg-focus;
$select-outlined-color-focus-var: --#{$select-outlined-prefix}-color-focus;
$select-outlined-border-color-focus-var: --#{$select-outlined-prefix}-border-color-focus;
$select-outlined-focus-ring-width-var: --#{$select-outlined-prefix}-focus-ring-width;
$select-outlined-focus-ring-color-var: --#{$select-outlined-prefix}-focus-ring-color;
$select-outlined-focus-ring-offset-var: --#{$select-outlined-prefix}-focus-ring-offset;
$select-outlined-bg-disabled-var: --#{$select-outlined-prefix}-bg-disabled;
$select-outlined-color-disabled-var: --#{$select-outlined-prefix}-color-disabled;
$select-outlined-border-color-disabled-var: --#{$select-outlined-prefix}-border-color-disabled;
$select-outlined-border-width-var: --#{$select-outlined-prefix}-border-width;
$select-outlined-border-radius-var: --#{$select-outlined-prefix}-border-radius;

// --------------------------------------------
// Filled
// --------------------------------------------
$select-filled-bg-var: --#{$select-filled-prefix}-bg;
$select-filled-color-var: --#{$select-filled-prefix}-color;
$select-filled-border-color-var: --#{$select-filled-prefix}-border-color;
$select-filled-bg-hover-var: --#{$select-filled-prefix}-bg-hover;
$select-filled-color-hover-var: --#{$select-filled-prefix}-color-hover;
$select-filled-border-color-hover-var: --#{$select-filled-prefix}-border-color-hover;
$select-filled-bg-focus-var: --#{$select-filled-prefix}-bg-focus;
$select-filled-color-focus-var: --#{$select-filled-prefix}-color-focus;
$select-filled-border-color-focus-var: --#{$select-filled-prefix}-border-color-focus;
$select-filled-focus-ring-width-var: --#{$select-filled-prefix}-focus-ring-width;
$select-filled-focus-ring-color-var: --#{$select-filled-prefix}-focus-ring-color;
$select-filled-focus-ring-offset-var: --#{$select-filled-prefix}-focus-ring-offset;
$select-filled-bg-disabled-var: --#{$select-filled-prefix}-bg-disabled;
$select-filled-color-disabled-var: --#{$select-filled-prefix}-color-disabled;
$select-filled-border-color-disabled-var: --#{$select-filled-prefix}-border-color-disabled;
$select-filled-border-width-var: --#{$select-filled-prefix}-border-width;
$select-filled-border-radius-var: --#{$select-filled-prefix}-border-radius;

// --------------------------------------------
// Underline
// --------------------------------------------
$select-underline-bg-var: --#{$select-underline-prefix}-bg;
$select-underline-color-var: --#{$select-underline-prefix}-color;
$select-underline-border-color-var: --#{$select-underline-prefix}-border-color;
$select-underline-bg-hover-var: --#{$select-underline-prefix}-bg-hover;
$select-underline-color-hover-var: --#{$select-underline-prefix}-color-hover;
$select-underline-border-color-hover-var: --#{$select-underline-prefix}-border-color-hover;
$select-underline-bg-focus-var: --#{$select-underline-prefix}-bg-focus;
$select-underline-color-focus-var: --#{$select-underline-prefix}-color-focus;
$select-underline-border-color-focus-var: --#{$select-underline-prefix}-border-color-focus;
$select-underline-focus-ring-width-var: --#{$select-underline-prefix}-focus-ring-width;
$select-underline-focus-ring-color-var: --#{$select-underline-prefix}-focus-ring-color;
$select-underline-focus-ring-offset-var: --#{$select-underline-prefix}-focus-ring-offset;
$select-underline-bg-disabled-var: --#{$select-underline-prefix}-bg-disabled;
$select-underline-color-disabled-var: --#{$select-underline-prefix}-color-disabled;
$select-underline-border-color-disabled-var: --#{$select-underline-prefix}-border-color-disabled;
$select-underline-border-width-var: --#{$select-underline-prefix}-border-width;
$select-underline-border-radius-var: --#{$select-underline-prefix}-border-radius;

// --------------------------------------------
// Sizes
// --------------------------------------------
$select-size-sm-height-var: --#{select.$select-prefix}size-height-sm !default;
$select-size-md-height-var: --#{select.$select-prefix}size-height-md !default;
$select-size-lg-height-var: --#{select.$select-prefix}size-height-lg !default;

$select-size-sm-font-size-var: --#{select.$select-prefix}size-font-size-sm !default;
$select-size-md-font-size-var: --#{select.$select-prefix}size-font-size-md !default;
$select-size-lg-font-size-var: --#{select.$select-prefix}size-font-size-lg !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variants
// ============================================
// --------------------------------------------
// Outlined
// --------------------------------------------
.#{select.$select-class-name} {
  #{$select-outlined-bg-var}: transparent;
  #{$select-outlined-color-var}: inherit;
  #{$select-outlined-border-color-var}: var(
    #{contract_prefixes.$neutral-light-var}
  );
  #{$select-outlined-bg-hover-var}: transparent;
  #{$select-outlined-color-hover-var}: inherit;
  #{$select-outlined-border-color-hover-var}: var(
    #{contract_prefixes.$neutral-default-var}
  );
  #{$select-outlined-bg-focus-var}: transparent;
  #{$select-outlined-color-focus-var}: inherit;
  #{$select-outlined-border-color-focus-var}: var(
    #{contract_prefixes.$neutral-default-var}
  );
  #{$select-outlined-focus-ring-width-var}: 2px;
  #{$select-outlined-focus-ring-color-var}: var(
    #{contract_prefixes.$palette-default-var}
  );
  #{$select-outlined-focus-ring-offset-var}: 0px;
  #{$select-outlined-bg-disabled-var}: transparent;
  #{$select-outlined-color-disabled-var}: var(
    #{contract_prefixes.$neutral-light-var}
  );
  #{$select-outlined-border-color-disabled-var}: var(
    #{contract_prefixes.$neutral-light-var}
  );
  #{$select-outlined-border-width-var}: 1px;
  #{$select-outlined-border-radius-var}: 0.25rem;
}
// --------------------------------------------
// Filled
// --------------------------------------------
.#{select.$select-class-name} {
  #{$select-filled-bg-var}: var(#{contract_prefixes.$neutral-lighter-var});
  #{$select-filled-color-var}: inherit;
  #{$select-filled-border-color-var}: transparent;
  #{$select-filled-bg-hover-var}: var(
    #{contract_prefixes.$neutral-lighter-var}
  );
  #{$select-filled-color-hover-var}: inherit;
  #{$select-filled-border-color-hover-var}: transparent;
  #{$select-filled-bg-focus-var}: var(
    #{contract_prefixes.$neutral-lighter-var}
  );
  #{$select-filled-color-focus-var}: inherit;
  #{$select-filled-border-color-focus-var}: var(
    #{contract_prefixes.$palette-default-var}
  );
  #{$select-filled-focus-ring-width-var}: 0px;
  #{$select-filled-focus-ring-color-var}: transparent;
  #{$select-filled-focus-ring-offset-var}: 0px;
  #{$select-filled-bg-disabled-var}: transparent;
  #{$select-filled-color-disabled-var}: var(
    #{contract_prefixes.$neutral-light-var}
  );
  #{$select-filled-border-color-disabled-var}: var(
    #{contract_prefixes.$neutral-light-var}
  );
  #{$select-filled-border-width-var}: 2px;
  #{$select-filled-border-radius-var}: 0.25rem 0.25rem 0 0;
}
// --------------------------------------------
// Underline
// --------------------------------------------
.#{select.$select-class-name} {
  #{$select-underline-bg-var}: transparent;
  #{$select-underline-color-var}: inherit;
  #{$select-underline-border-color-var}: var(
    #{contract_prefixes.$neutral-light-var}
  );
  #{$select-underline-bg-hover-var}: transparent;
  #{$select-underline-color-hover-var}: inherit;
  #{$select-underline-border-color-hover-var}: var(
    #{contract_prefixes.$neutral-default-var}
  );
  #{$select-underline-bg-focus-var}: transparent;
  #{$select-underline-color-focus-var}: inherit;
  #{$select-underline-border-color-focus-var}: var(
    #{contract_prefixes.$palette-default-var}
  );
  #{$select-underline-focus-ring-width-var}: 0px;
  #{$select-underline-focus-ring-color-var}: transparent;
  #{$select-underline-focus-ring-offset-var}: 0px;
  #{$select-underline-bg-disabled-var}: transparent;
  #{$select-underline-color-disabled-var}: var(
    #{contract_prefixes.$neutral-light-var}
  );
  #{$select-underline-border-color-disabled-var}: var(
    #{contract_prefixes.$neutral-light-var}
  );
  #{$select-underline-border-width-var}: 2px;
  #{$select-underline-border-radius-var}: 0.25rem 0.25rem 0 0;
}

// --------------------------------------------
// Sizes
// --------------------------------------------
.#{select.$select-class-name} {
  #{$select-size-sm-height-var}: 2rem;
  #{$select-size-md-height-var}: 2.5rem;
  #{$select-size-lg-height-var}: 2.75rem;

  #{$select-size-sm-font-size-var}: 0.75rem;
  #{$select-size-md-font-size-var}: 1rem;
  #{$select-size-lg-font-size-var}: 1.25rem;
}

// ============================================
// Classes
// ============================================
// --------------------------------------------
// Outlined
// --------------------------------------------
.#{select.$select-class-name},
.#{select.$select-class-name}.#{$select-outlined-class-name} {
  #{select.$select-bg-var}: var(#{$select-outlined-bg-var});
  #{select.$select-color-var}: var(#{$select-outlined-color-var});
  #{select.$select-border-color-var}: var(#{$select-outlined-border-color-var});
  #{select.$select-bg-hover-var}: var(#{$select-outlined-bg-hover-var});
  #{select.$select-color-hover-var}: var(#{$select-outlined-color-hover-var});
  #{select.$select-border-color-hover-var}: var(
    #{$select-outlined-border-color-hover-var}
  );
  #{select.$select-bg-focus-var}: var(#{$select-outlined-bg-focus-var});
  #{select.$select-color-focus-var}: var(#{$select-outlined-color-focus-var});
  #{select.$select-border-color-focus-var}: var(
    #{$select-outlined-border-color-focus-var}
  );
  #{select.$select-focus-ring-width-var}: var(
    #{$select-outlined-focus-ring-width-var}
  );
  #{select.$select-focus-ring-color-var}: var(
    #{$select-outlined-focus-ring-color-var}
  );
  #{select.$select-focus-ring-offset-var}: var(
    #{$select-outlined-focus-ring-offset-var}
  );
  #{select.$select-bg-disabled-var}: var(#{$select-outlined-bg-disabled-var});
  #{select.$select-color-disabled-var}: var(
    #{$select-outlined-color-disabled-var}
  );
  #{select.$select-border-color-disabled-var}: var(
    #{$select-outlined-border-color-disabled-var}
  );
  #{select.$select-border-width-var}: var(#{$select-outlined-border-width-var});
  #{select.$select-border-radius-var}: var(
    #{$select-outlined-border-radius-var}
  );
}
// --------------------------------------------
// Filled
// --------------------------------------------
.#{select.$select-class-name}.#{$select-filled-class-name} {
  #{select.$select-bg-var}: var(#{$select-filled-bg-var});
  #{select.$select-color-var}: var(#{$select-filled-color-var});
  #{select.$select-border-color-var}: var(#{$select-filled-border-color-var});
  #{select.$select-bg-hover-var}: var(#{$select-filled-bg-hover-var});
  #{select.$select-color-hover-var}: var(#{$select-filled-color-hover-var});
  #{select.$select-border-color-hover-var}: var(
    #{$select-filled-border-color-hover-var}
  );
  #{select.$select-bg-focus-var}: var(#{$select-filled-bg-focus-var});
  #{select.$select-color-focus-var}: var(#{$select-filled-color-focus-var});
  #{select.$select-border-color-focus-var}: var(
    #{$select-filled-border-color-focus-var}
  );
  #{select.$select-focus-ring-width-var}: var(
    #{$select-filled-focus-ring-width-var}
  );
  #{select.$select-focus-ring-color-var}: var(
    #{$select-filled-focus-ring-color-var}
  );
  #{select.$select-focus-ring-offset-var}: var(
    #{$select-filled-focus-ring-offset-var}
  );
  #{select.$select-bg-disabled-var}: var(#{$select-filled-bg-disabled-var});
  #{select.$select-color-disabled-var}: var(
    #{$select-filled-color-disabled-var}
  );
  #{select.$select-border-color-disabled-var}: var(
    #{$select-filled-border-color-disabled-var}
  );
  #{select.$select-border-width-var}: var(#{$select-filled-border-width-var});
  #{select.$select-border-radius-var}: var(#{$select-filled-border-radius-var});
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
// --------------------------------------------
// Underline
// --------------------------------------------
.#{select.$select-class-name}.#{$select-underline-class-name} {
  #{select.$select-bg-var}: var(#{$select-underline-bg-var});
  #{select.$select-color-var}: var(#{$select-underline-color-var});
  #{select.$select-border-color-var}: var(
    #{$select-underline-border-color-var}
  );
  #{select.$select-bg-hover-var}: var(#{$select-underline-bg-hover-var});
  #{select.$select-color-hover-var}: var(#{$select-underline-color-hover-var});
  #{select.$select-border-color-hover-var}: var(
    #{$select-underline-border-color-hover-var}
  );
  #{select.$select-bg-focus-var}: var(#{$select-underline-bg-focus-var});
  #{select.$select-color-focus-var}: var(#{$select-underline-color-focus-var});
  #{select.$select-border-color-focus-var}: var(
    #{$select-underline-border-color-focus-var}
  );
  #{select.$select-focus-ring-width-var}: var(
    #{$select-underline-focus-ring-width-var}
  );
  #{select.$select-focus-ring-color-var}: var(
    #{$select-underline-focus-ring-color-var}
  );
  #{select.$select-focus-ring-offset-var}: var(
    #{$select-underline-focus-ring-offset-var}
  );
  #{select.$select-bg-disabled-var}: var(#{$select-underline-bg-disabled-var});
  #{select.$select-color-disabled-var}: var(
    #{$select-underline-color-disabled-var}
  );
  #{select.$select-border-color-disabled-var}: var(
    #{$select-underline-border-color-disabled-var}
  );
  #{select.$select-border-width-var}: var(
    #{$select-underline-border-width-var}
  );
  #{select.$select-border-radius-var}: var(
    #{$select-underline-border-radius-var}
  );
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

// --------------------------------------------
// Sizes
// --------------------------------------------
.#{select.$select-class-name}.lg {
  #{select.$select-font-size-var}: var(#{$select-size-lg-font-size-var});
  #{select.$select-height-var}: var(#{$select-size-lg-height-var});
}
.#{select.$select-class-name},
.#{select.$select-class-name}.md {
  #{select.$select-font-size-var}: var(#{$select-size-md-font-size-var});
  #{select.$select-height-var}: var(#{$select-size-md-height-var});
}
.#{select.$select-class-name}.sm {
  #{select.$select-font-size-var}: var(#{$select-size-sm-font-size-var});
  #{select.$select-height-var}: var(#{$select-size-sm-height-var});
}
