@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .form-control {
    --form-control-disabled-opacity: 0.4;
    --form-control-readonly-cursor: text;

    --form-control-filled-bg-color: var(--surface-color-overlay);
    --form-control-filled-hover-bg-color: var(--form-control-filled-bg-color);
    --form-control-filled-active-bg-color: var(--form-control-filled-bg-color);
    --form-control-border-color: var(--control-border-color);
    --form-control-hover-border-color: var(--control-border-color-strong);
    --form-control-active-border-color: var(--control-border-color-strong);
    --form-control-focus-border-color: var(--control-border-color-strong);

    &.filled {
      --form-control-border-top-width: var(--form-control-border-bottom-width);
      --form-control-border-left-width: var(--form-control-border-bottom-width);
      --form-control-border-right-width: var(
        --form-control-border-bottom-width
      );
      --form-control-border-color: var(--control-border-color-subtle);
      border-bottom-left-radius: var(--form-control-border-radius);
      border-bottom-right-radius: var(--form-control-border-radius);
      border-bottom-color: var(--control-border-color-strong);

      &.is-invalid {
        border-bottom-color: var(--form-control-invalid-border-color);
      }
      &.is-valid {
        border-bottom-color: var(--form-control-valid-border-color);
      }
    }
  }
}
