@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .list,
  .list-group {
    --list-hover-bg-color: var(--neutral-subtle);
    --list-hover-color: var(--neutral-accent-subtle);
    --list-active-bg-color: var(--neutral-tonal);
    --list-active-color: var(--neutral-accent-tonal);
  }
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  .list,
  .list-group {
    --list-hover-bg-color: var(--neutral-solid);
    --list-hover-color: var(--neutral-accent-solid);
    --list-active-bg-color: var(--neutral-heavy);
    --list-active-color: var(--neutral-accent-heavy);
  }
}
