@use "prefixes" as prefixes;

// ============================================
// Prefixes
// ============================================
// Prefixes
$border-prefix: #{prefixes.$prefix}border-;

// Class Name
$border-class-name: "border";

// Variable Name
$border-width-var: --#{$border-prefix}width;
$border-style-var: --#{$border-prefix}style;
$border-color-var: --#{$border-prefix}color;

// ============================================
// Variables
// ============================================
$border-width-variations: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
) !default;

$border-radius-variations: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
) !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variables
// ============================================
:root {
  #{$border-width-var}: 1px;
  #{$border-style-var}: solid;
  #{$border-color-var}: gray;
}

// ============================================
// Border
// ============================================
.#{$border-class-name} {
  border: var(#{$border-width-var}) var(#{$border-style-var})
    var(#{$border-color-var});
}
.#{$border-class-name}-top {
  border-top: var(#{$border-width-var}) var(#{$border-style-var})
    var(#{$border-color-var});
}
.#{$border-class-name}-bottom {
  border-bottom: var(#{$border-width-var}) var(#{$border-style-var})
    var(#{$border-color-var});
}
.#{$border-class-name}-start {
  border-left: var(#{$border-width-var}) var(#{$border-style-var})
    var(#{$border-color-var});
}
.#{$border-class-name}-end {
  border-right: var(#{$border-width-var}) var(#{$border-style-var})
    var(#{$border-color-var});
}

// ============================================
// Border Sizes
// ============================================
.#{$border-class-name}-top-0 {
  border-top: none;
}
.#{$border-class-name}-bottom-0 {
  border-bottom: none;
}
.#{$border-class-name}-start-0 {
  border-left: none;
}
.#{$border-class-name}-end-0 {
  border-right: none;
}
@each $size, $value in $border-width-variations {
  .#{$border-class-name}-#{$size} {
    border-width: $value;
  }
}

// ============================================
// Border Radius
// ============================================
.rounded {
  border-radius: 4px;
}
.rounded-circle {
  border-radius: 50%;
}
.rounded-pill {
  border-radius: 50rem;
}
.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.rounded-bottom-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.rounded-start-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.rounded-end-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
@each $size, $value in $border-radius-variations {
  .rounded-#{$size} {
    border-radius: $value;
  }
}
