// ============================================
// Overridable Variables
// ============================================
$width-class-name: w !default;
$width-values: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto,
) !default;

$max-width-class-name: mw !default;
$max-width-values: (
  100: 100%,
) !default;

$viewport-width-class-name: vw !default;
$viewport-width-values: (
  100: 100vw,
) !default;

$min-viewport-width-class-name: min-vw !default;
$min-viewport-width-values: (
  100: 100vw,
) !default;

$height-class-name: h !default;
$height-values: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto,
) !default;

$max-height-class-name: mh !default;
$max-height-values: (
  100: 100%,
) !default;

$viewport-height-class-name: vh !default;
$viewport-height-values: (
  100: 100vh,
) !default;

$min-viewport-height-class-name: min-vh !default;
$min-viewport-height-values: (
  100: 100vh,
) !default;

// ============================================
// Process
// ============================================
// ============================================
// Display
// ============================================
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-grid {
  display: grid;
}
.d-inline-grid {
  display: inline-grid;
}
.d-table {
  display: table;
}
.d-table-cell {
  display: table-cell;
}
.d-table-row {
  display: table-row;
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}

// ============================================
// Flex Direction
// ============================================
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}

// ============================================
// Justify Content
// ============================================
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

// ============================================
// Align Items
// ============================================
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-stretch {
  align-items: stretch;
}

// ============================================
// Align Self
// ============================================
.align-self-start {
  align-self: flex-start;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}
.align-self-baseline {
  align-self: baseline;
}
.align-self-stretch {
  align-self: stretch;
}

// ============================================
// Flex Fill
// ============================================
.flex-fill {
  flex: 1 1 auto !important;
}

// ============================================
// Flex Wrap
// ============================================
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

// ============================================
// Align Content
// ============================================
.align-content-start {
  align-content: start;
}
.align-content-end {
  align-content: end;
}
.align-content-center {
  align-content: center;
}
.align-content-between {
  align-content: space-between;
}
.align-content-around {
  align-content: space-around;
}
.align-content-stretch {
  align-content: stretch;
}

// ============================================
// Overflow
// ============================================
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-y-visible {
  overflow-y: visible;
}
.overflow-y-scroll {
  overflow-y: scroll;
}

// ============================================
// Width
// ============================================
@each $name, $value in $width-values {
  #{$width-class-name}-#{$name} {
    width: #{$value};
  }
}
@each $name, $value in $max-width-values {
  #{$max-width-class-name}-#{$name} {
    max-width: #{$value};
  }
}
@each $name, $value in $viewport-width-values {
  #{$viewport-width-class-name}-#{$name} {
    width: #{$value};
  }
}
@each $name, $value in $min-viewport-width-values {
  #{$min-viewport-width-class-name}-#{$name} {
    min-width: #{$value};
  }
}

// ============================================
// Height
// ============================================
@each $name, $value in $height-values {
  #{$height-class-name}-#{$name} {
    height: #{$value};
  }
}
@each $name, $value in $max-height-values {
  #{$max-height-class-name}-#{$name} {
    max-height: #{$value};
  }
}
@each $name, $value in $viewport-height-values {
  #{$viewport-height-class-name}-#{$name} {
    height: #{$value};
  }
}
@each $name, $value in $min-viewport-height-values {
  #{$min-viewport-height-class-name}-#{$name} {
    min-height: #{$value};
  }
}
