@use "prefixes" as prefixes;

// ============================================
// Prefixes
// ============================================
// Prefixes
$font-prefix: #{prefixes.$prefix}font-;

// heading
$font-h1-prefix: #{$font-prefix}h1-;
$font-h2-prefix: #{$font-prefix}h2-;
$font-h3-prefix: #{$font-prefix}h3-;
$font-h4-prefix: #{$font-prefix}h4-;
$font-h5-prefix: #{$font-prefix}h5-;
$font-h6-prefix: #{$font-prefix}h6-;

// Variable Names
// heading
$font-h1-size-var: --#{$font-h1-prefix}size;
$font-h2-size-var: --#{$font-h2-prefix}size;
$font-h3-size-var: --#{$font-h3-prefix}size;
$font-h4-size-var: --#{$font-h4-prefix}size;
$font-h5-size-var: --#{$font-h5-prefix}size;
$font-h6-size-var: --#{$font-h6-prefix}size;

$font-h1-weight-var: --#{$font-h1-prefix}weight;
$font-h2-weight-var: --#{$font-h2-prefix}weight;
$font-h3-weight-var: --#{$font-h3-prefix}weight;
$font-h4-weight-var: --#{$font-h4-prefix}weight;
$font-h5-weight-var: --#{$font-h5-prefix}weight;
$font-h6-weight-var: --#{$font-h6-prefix}weight;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variables
// ============================================
// ============================================
// Heading
// ============================================
:root {
  // Sizes
  #{$font-h1-size-var}: 2.5rem;
  #{$font-h2-size-var}: 2rem;
  #{$font-h3-size-var}: 1.75rem;
  #{$font-h4-size-var}: 1.5rem;
  #{$font-h5-size-var}: 1.25rem;
  #{$font-h6-size-var}: 1rem;

  // Weights
  #{$font-h1-weight-var}: 500;
  #{$font-h2-weight-var}: 500;
  #{$font-h3-weight-var}: 500;
  #{$font-h4-weight-var}: 500;
  #{$font-h5-weight-var}: 500;
  #{$font-h6-weight-var}: 500;
}

// ============================================
// Classes
// ============================================
// ============================================
// Heading
// ============================================
h1,
.h1 {
  font-size: var(#{$font-h1-size-var});
  font-weight: var(#{$font-h1-weight-var});
}
h2,
.h2 {
  font-size: var(#{$font-h2-size-var});
  font-weight: var(#{$font-h2-weight-var});
}
h3,
.h3 {
  font-size: var(#{$font-h3-size-var});
  font-weight: var(#{$font-h3-weight-var});
}
h4,
.h4 {
  font-size: var(#{$font-h4-size-var});
  font-weight: var(#{$font-h4-weight-var});
}
h5,
.h5 {
  font-size: var(#{$font-h5-size-var});
  font-weight: var(#{$font-h5-weight-var});
}
h6,
.h6 {
  font-size: var(#{$font-h6-size-var});
  font-weight: var(#{$font-h6-weight-var});
}

// ============================================
// Text Align
// ============================================
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

// ============================================
// Text Transform
// ============================================
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}

// ============================================
// Font Style
// ============================================
.fst-italic {
  font-style: italic;
}
.fst-normal {
  font-style: normal;
}

// ============================================
// Text Decoration
// ============================================
.text-decoration-underline {
  text-decoration: underline;
}
.text-decoration-line-through {
  text-decoration: line-through;
}
.text-decoration-none {
  text-decoration: none;
}

// ============================================
// Text Wrap
// ============================================
.text-wrap-nowrap {
  text-wrap: nowrap;
}
.text-wrap-wrap {
  text-wrap: wrap;
}
.text-wrap-balance {
  text-wrap: balance;
}
.text-wrap-pretty {
  text-wrap: pretty;
}
.text-wrap-stable {
  text-wrap: stable;
}

// ============================================
// Text Overflow
// ============================================
.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
