@use "sass:map";
@use "prefixes" as prefixes;

// ============================================
// Prefixes
// ============================================
// Prefixes
$shadow-prefix: #{prefixes.$prefix}shadow-;
$shadow-offset-x-prefix: offset-x;
$shadow-offset-y-prefix: offset-y;
$shadow-blur-prefix: blur;
$shadow-spread-prefix: spread;
$shadow-color-prefix: color;

// Class Name
$shadow-class-name: "shadow";

// ============================================
// Variables
// ============================================
$shadow-variations: (
  none: (
    offset-x: 0,
    offset-y: 0,
    blur: 0,
    spread: 0,
    color: transparent,
  ),
  sm: (
    offset-x: 0px,
    offset-y: 1px,
    blur: 3px,
    spread: 0px,
    color: rgba(0, 0, 0, 0.2),
  ),
  md: (
    offset-x: 0px,
    offset-y: 4px,
    blur: 6px,
    spread: 0px,
    color: rgba(0, 0, 0, 0.2),
  ),
  lg: (
    offset-x: 0px,
    offset-y: 10px,
    blur: 20px,
    spread: 0px,
    color: rgba(0, 0, 0, 0.2),
  ),
) !default;

// ============================================
// Process
// ============================================
// ============================================
// Shadows
// ============================================
:root {
  @each $size, $properties in $shadow-variations {
    $shadow-offset-x-var: --#{$shadow-prefix}-#{$size}-offset-x;
    $shadow-offset-y-var: --#{$shadow-prefix}-#{$size}-offset-y;
    $shadow-blur-var: --#{$shadow-prefix}-#{$size}-blur;
    $shadow-spread-var: --#{$shadow-prefix}-#{$size}-spread;
    $shadow-color-var: --#{$shadow-prefix}-#{$size}-color;

    #{$shadow-offset-x-var}: map.get($properties, offset-x);
    #{$shadow-offset-y-var}: map.get($properties, offset-y);
    #{$shadow-blur-var}: map.get($properties, blur);
    #{$shadow-spread-var}: map.get($properties, spread);
    #{$shadow-color-var}: map.get($properties, color);
    --#{$shadow-class-name}-#{$size}: var(#{$shadow-offset-x-var})
      var(#{$shadow-offset-y-var})
      var(#{$shadow-blur-var})
      var(#{$shadow-spread-var})
      var(#{$shadow-color-var});
  }
}
@each $size, $properties in $shadow-variations {
  .#{$shadow-class-name}-#{$size} {
    box-shadow: var(--#{$shadow-class-name}-#{$size});
    &.inset {
      box-shadow: inset var(--#{$shadow-class-name}-#{$size});
    }
  }
}
