@use "sass:map";
@use "../../props/prefixes" as prefixes;

// ============================================
// Prefixes
// ============================================
$hue-red-var: --#{prefixes.$prefix}hue-red;
$hue-orange-var: --#{prefixes.$prefix}hue-orange;
$hue-yellow-var: --#{prefixes.$prefix}hue-yellow;
$hue-lime-var: --#{prefixes.$prefix}hue-lime;
$hue-green-var: --#{prefixes.$prefix}hue-green;
$hue-teal-var: --#{prefixes.$prefix}hue-teal;
$hue-cyan-var: --#{prefixes.$prefix}hue-cyan;
$hue-blue-var: --#{prefixes.$prefix}hue-blue;
$hue-indigo-var: --#{prefixes.$prefix}hue-indigo;
$hue-violet-var: --#{prefixes.$prefix}hue-violet;
$hue-purple-var: --#{prefixes.$prefix}hue-purple;
$hue-pink-var: --#{prefixes.$prefix}hue-pink;

// ============================================
// Process
// ============================================
// ============================================
// HUE定義
// HSL色相環に基づく標準値
// threshold: アクセントカラー切り替え閾値（省略時はデフォルト50%）
// ============================================
$hues: (
  ".red": (
    hue: 0,
    saturation: 100%,
    accent-threshold: 50%,
    variant-name: #{$hue-red-var},
  ),
  ".orange": (
    hue: 30,
    saturation: 100%,
    accent-threshold: 40%,
    variant-name: #{$hue-orange-var},
  ),
  ".yellow": (
    hue: 50,
    saturation: 100%,
    accent-threshold: 30%,
    variant-name: #{$hue-yellow-var},
  ),
  ".lime": (
    hue: 90,
    saturation: 100%,
    accent-threshold: 30%,
    variant-name: #{$hue-lime-var},
  ),
  ".green": (
    hue: 125,
    saturation: 100%,
    accent-threshold: 30%,
    variant-name: #{$hue-green-var},
  ),
  ".teal": (
    hue: 170,
    saturation: 100%,
    accent-threshold: 40%,
    variant-name: #{$hue-teal-var},
  ),
  ".cyan": (
    hue: 190,
    saturation: 100%,
    accent-threshold: 40%,
    variant-name: #{$hue-cyan-var},
  ),
  ".blue": (
    hue: 220,
    saturation: 100%,
    accent-threshold: 50%,
    variant-name: #{$hue-blue-var},
  ),
  ".indigo": (
    hue: 240,
    saturation: 100%,
    accent-threshold: 70%,
    variant-name: #{$hue-indigo-var},
  ),
  ".violet": (
    hue: 270,
    saturation: 100%,
    accent-threshold: 70%,
    variant-name: #{$hue-violet-var},
  ),
  ".purple": (
    hue: 290,
    saturation: 100%,
    accent-threshold: 50%,
    variant-name: #{$hue-purple-var},
  ),
  ".pink": (
    hue: 330,
    saturation: 100%,
    accent-threshold: 55%,
    variant-name: #{$hue-pink-var},
  ),
);
:root {
  @each $key, $value in $hues {
    #{map.get($value, variant-name)}: #{map.get($value, hue)};
  }
}
