@use "sass:map";
@use "hue-colors" as hue-colors;

// ============================================
// Prefixes
// ============================================
$semantic-prefix: "";

$semantic-parimary-var: --#{$semantic-prefix}primary;
$semantic-secondary-var: --#{$semantic-prefix}secondary;
$semantic-tertiary-var: --#{$semantic-prefix}tertiary;
$semantic-success-var: --#{$semantic-prefix}success;
$semantic-warning-var: --#{$semantic-prefix}warning;
$semantic-danger-var: --#{$semantic-prefix}danger;
$semantic-info-var: --#{$semantic-prefix}info;
$semantic-neutral-var: --#{$semantic-prefix}neutral;

// ============================================
// Prefixes
// ============================================
// ============================================
// セマンティックカラー定義
// threshold: アクセントカラー切り替え閾値（省略時はデフォルト）
// ============================================
$semantic-colors: (
  "primary": (
    h: var(#{hue-colors.$hue-blue-var}),
    s: 80%,
    threshold: 50%,
    levels: (
      lighter: 2,
      light: 3,
      default: 6,
      dark: 8,
      darker: 9,
    ),
  ),
  "secondary": (
    h: var(#{hue-colors.$hue-pink-var}),
    s: 80%,
    threshold: 55%,
    levels: (
      lighter: 2,
      light: 3,
      default: 5,
      dark: 7,
      darker: 9,
    ),
  ),
  "tertiary": (
    h: var(#{hue-colors.$hue-teal-var}),
    s: 60%,
    threshold: 40%,
    levels: (
      lighter: 2,
      light: 4,
      default: 7,
      dark: 9,
      darker: 10,
    ),
  ),
  "success": (
    h: var(#{hue-colors.$hue-green-var}),
    s: 60%,
    threshold: 45%,
    levels: (
      lighter: 2,
      light: 4,
      default: 7,
      dark: 9,
      darker: 10,
    ),
  ),
  "warning": (
    h: var(#{hue-colors.$hue-yellow-var}),
    s: 80%,
    threshold: 45%,
    levels: (
      lighter: 2,
      light: 4,
      default: 6,
      dark: 8,
      darker: 9,
    ),
  ),
  "danger": (
    h: var(#{hue-colors.$hue-red-var}),
    s: 80%,
    threshold: 50%,
    levels: (
      lighter: 2,
      light: 4,
      default: 6,
      dark: 8,
      darker: 9,
    ),
  ),
  "info": (
    h: var(#{hue-colors.$hue-cyan-var}),
    s: 80%,
    threshold: 40%,
    levels: (
      lighter: 2,
      light: 4,
      default: 7,
      dark: 8,
      darker: 9,
    ),
  ),
  "neutral": (
    h: var(#{hue-colors.$hue-blue-var}),
    s: 5%,
    threshold: 50%,
    levels: (
      lighter: 2,
      light: 4,
      default: 7,
      dark: 8,
      darker: 9,
    ),
  ),
);
