@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .checkbox {
    --checkbox-border-radius: 0px;
    --checkbox-border-width: 1px;
    --checkbox-size: 18px;
    --checkbox-label-gap: 8px;
  }
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  .checkbox {
    --checkbox-border-color: #8d8d8d;
    --checkbox-bg-color: transparent;
  }
}
