@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .form-control {
    --form-control-border-radius: 0px;
    --form-control-border-width: 0 0 1px 0;
    --form-control-padding: 11px 40px 11px 16px;
    --form-control-font-size: 14px;
    --form-control-height: 40px;
    --form-control-sm-height: 32px;
    --form-control-lg-height: 48px;
    --form-control-transition: background-color 110ms ease, outline 110ms ease;
    --form-control-focus-ring-width: 2px;
    --form-control-focus-ring-offset-width: 0;
    --form-control-focus-ring-color: var(--primary-default);
    --form-control-focus-shadow: none;
    --form-control-disabled-opacity: 1;
    --form-control-disabled-color: #525252;
  }
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  .form-control {
    --form-control-border-color: #8d8d8d;
    --form-control-bg-color: #262626;
    --form-control-disabled-bg-color: #393939;
    --form-control-disabled-color: #525252;
  }
}
