@use "../utilities/prefixes" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .select {
    --select-border-radius: 0px;
    --select-border-width: 0 0 1px 0;
    --select-padding: 11px 40px 11px 16px;
    --select-font-size: 14px;
    --select-height: 40px;
  }
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  .select {
    --select-border-color: #8d8d8d;
    --select-bg-color: #262626;
  }
}
