@use "../utilities/prefixes" as prefixes;

// Material Design 1: list with 8px padding
:root[data-theme="#{prefixes.$theme-name}"] {
  .list {
    --list-item-padding: 8px 16px;
    --list-item-gap: 16px;
    --list-border-radius: 0px;
  }
}
