@use "../utilities/prefixes" as prefixes;

// Material Design 1: radio buttons
:root[data-theme="#{prefixes.$theme-name}"] {
  .radio {
    --radio-size: 20px;
    --radio-border-width: 2px;
    --radio-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    --radio-label-gap: 8px;
  }
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  .radio {
    --radio-border-color: rgba(255, 255, 255, 0.7);
  }
}
