@use "../utilities/prefixes" as prefixes;

// Ant Design: tag/chip with 6px radius
:root[data-theme="#{prefixes.$theme-name}"] {
  .chip {
    --chip-border-radius: 0.25rem;
    --chip-border-width: 1px;
    --chip-padding: 0px 7px;
    --chip-font-size: 12px;
    --chip-height: 22px;
    --chip-gap: 4px;
    --chip-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  .chip {
    --chip-border-color: rgba(255, 255, 255, 0.15);
  }
}
