@use "../utilities/prefixes" as prefixes;

// Ant Design: switch uses success color when checked
:root[data-theme="#{prefixes.$theme-name}"] {
  .switch {
    --switch-border-radius: 100px;
    --switch-border-width: 0px;
    --switch-track-width: 44px;
    --switch-track-height: 22px;
    --switch-thumb-size: 18px;
    --switch-thumb-margin: 2px;
    --switch-thumb-bg-color: #ffffff;
    --switch-checked-bg-color: var(--success-default);
    --switch-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    --switch-disabled-opacity: 0.4;
    --switch-focus-ring-width: 2px;
    --switch-focus-ring-offset-width: 1px;
    --switch-focus-ring-color: var(--success-light);
  }
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  .switch {
    --switch-unchecked-bg-color: rgba(255, 255, 255, 0.25);
    --switch-thumb-bg-color: rgba(255, 255, 255, 0.9);
  }
}
