---
title: Shadows
layout: layout.njk
---

<section class="demo-section">
  <h1>Shadows</h1>

  <div class="demo-row">
    <div class="demo-label">Shadow</div>
    <div class="d-flex flex-wrap" style="gap: 1.5rem; padding: 1rem">
      <span class="shadow-0 demo-box lighter" style="padding: 1rem"
        >.shadow-0</span
      >
      <span class="shadow-1 demo-box lighter" style="padding: 1rem">.shadow-1</span>
      <span class="shadow-2 demo-box lighter" style="padding: 1rem">.shadow-2</span>
      <span class="shadow-3 demo-box lighter" style="padding: 1rem">.shadow-3</span>
      <span class="shadow-4 demo-box lighter" style="padding: 1rem">.shadow-4</span>
      <span class="shadow-5 demo-box lighter" style="padding: 1rem">.shadow-5</span>
    </div>
  </div>

  <div class="demo-row">
    <div class="demo-label">Inset Shadow</div>
    <div class="d-flex flex-wrap" style="gap: 1.5rem; padding: 1rem">
      <span class="shadow-1 inset demo-box" style="padding: 1rem"
        >.shadow-1.inset</span
      >
      <span class="shadow-2 inset demo-box" style="padding: 1rem"
        >.shadow-2.inset</span
      >
      <span class="shadow-3 inset demo-box" style="padding: 1rem"
        >.shadow-3.inset</span
      >
      <span class="shadow-4 inset demo-box" style="padding: 1rem"
        >.shadow-4.inset</span
      >
      <span class="shadow-5 inset demo-box" style="padding: 1rem"
        >.shadow-5.inset</span
      >
    </div>
  </div>
</section>
