---
title: Shadows
layout: layout.njk
---

<section class="demo-section">
  <h1>Shadows</h1>

  <div class="demo-row">
    <div class="demo-label">Shadow</div>
    <div class="d-flex flex-wrap" style="gap: 1.5rem; padding: 1rem">
      <span class="shadow-none demo-box" style="padding: 1rem"
        >.shadow-none</span
      >
      <span class="shadow-sm demo-box" style="padding: 1rem">.shadow-sm</span>
      <span class="shadow-md demo-box" style="padding: 1rem">.shadow-md</span>
      <span class="shadow-lg demo-box" style="padding: 1rem">.shadow-lg</span>
    </div>
  </div>

  <div class="demo-row">
    <div class="demo-label">Inset Shadow</div>
    <div class="d-flex flex-wrap" style="gap: 1.5rem; padding: 1rem">
      <span class="shadow-sm inset demo-box" style="padding: 1rem"
        >.shadow-sm.inset</span
      >
      <span class="shadow-md inset demo-box" style="padding: 1rem"
        >.shadow-md.inset</span
      >
      <span class="shadow-lg inset demo-box" style="padding: 1rem"
        >.shadow-lg.inset</span
      >
    </div>
  </div>
</section>
