---
title: Typography
layout: layout.njk
---

<section class="demo-section">
  <h1>Typography</h1>

  <!-- Headings -->
  <div class="demo-row">
    <div class="demo-label">Heading Elements (h1-h6) NotStyled</div>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
  </div>

  <!-- Heading Classes -->
  <div class="demo-row">
    <div class="demo-label">Heading Classes (.h1-.h6)</div>
    <p class="h1">Class .h1</p>
    <p class="h2">Class .h2</p>
    <p class="h3">Class .h3</p>
    <p class="h4">Class .h4</p>
    <p class="h5">Class .h5</p>
    <p class="h6">Class .h6</p>
  </div>

  <!-- Text Alignment -->
  <div class="demo-row">
    <div class="demo-label">Text Alignment</div>
    <p class="text-start demo-box">.text-start - Left aligned text</p>
    <p class="text-center demo-box">.text-center - Center aligned text</p>
    <p class="text-end demo-box">.text-end - Right aligned text</p>
    <p class="text-justify demo-box">
      .text-justify - Justified text. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit.
    </p>
  </div>

  <!-- Text Transform -->
  <div class="demo-row">
    <div class="demo-label">Text Transform</div>
    <p class="text-lowercase">.text-lowercase - LOWERCASED TEXT</p>
    <p class="text-uppercase">.text-uppercase - uppercased text</p>
    <p class="text-capitalize">.text-capitalize - capitalized text example</p>
  </div>

  <!-- Font Style -->
  <div class="demo-row">
    <div class="demo-label">Font Style</div>
    <p class="fst-italic">.fst-italic - Italic text</p>
    <p class="fst-normal">.fst-normal - Normal text</p>
  </div>

  <!-- Text Decoration -->
  <div class="demo-row">
    <div class="demo-label">Text Decoration</div>
    <p class="text-decoration-underline">.text-decoration-underline</p>
    <p class="text-decoration-line-through">.text-decoration-line-through</p>
    <a href="#" class="text-decoration-none">.text-decoration-none (link)</a>
  </div>

  <!-- Text Wrap -->
  <div class="demo-row">
    <div class="demo-label">Text Wrap &amp; Overflow</div>
    <p
      class="text-wrap-nowrap demo-box"
      style="width: 200px; overflow: hidden"
    >
      .text-nowrap - This text will not wrap
    </p>
    <p class="text-truncate demo-box" style="width: 200px">
      .text-truncate - This text will be truncated with ellipsis
    </p>
  </div>
</section>
