@use "../utilities/_prefixes.scss" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .select {
    --select-border-radius: 0px;
    --select-font-size: 11px;
    --select-padding-y: 3px;
    --select-padding-x: 4px;
  }
}
