@use "../contract/_contract.scss";

:root[data-theme="fluent2"] {
    --primary-h: var(--hue-blue);
    --primary-s: 70%;
    --secondary-h: var(--hue-blue);
    --secondary-s: 0%;
    --tertiary-h: var(--hue-cyan);
    --tertiary-s: 60%;
}