@use "../utilities/_prefixes.scss" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .button {
    --button-border-radius: 4px;
    --button-font-size: 14px;
    --button-padding-y: 6px;
    --button-padding-x: 14px;
    --button-transition: background-color 130ms ease, border-color 130ms ease, box-shadow 130ms ease;
  }
}
