@use "../utilities/_prefixes.scss" as prefixes;

:root[data-theme="#{prefixes.$theme-name}"] {
  .form-control {
    --form-control-border-radius: 4px;
    --form-control-font-size: 14px;
    --form-control-padding-y: 6px;
    --form-control-padding-x: 10px;
    --form-control-transition: border-color 130ms ease, box-shadow 130ms ease;
  }
}
