@use "../utilities/prefixes" as prefixes;

// GitHub Primer: subtle shadows
:root[data-theme="#{prefixes.$theme-name}"] {
  --shadow-1: 0 1px 0 rgba(31, 35, 40, 0.04);
  --shadow-2: 0 1px 3px rgba(31, 35, 40, 0.12), 0 8px 24px rgba(66, 74, 83, 0.12);
  --shadow-3: 0 8px 24px rgba(140, 149, 159, 0.2);
  --shadow-4: 0 16px 32px rgba(140, 149, 159, 0.3);
  --shadow-5: 0 24px 48px rgba(140, 149, 159, 0.4);
}

:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  --shadow-1: 0 1px 0 rgba(0, 0, 0, 0.3);
  --shadow-2: 0 1px 3px rgba(0, 0, 0, 0.25), 0 8px 24px rgba(0, 0, 0, 0.25);
  --shadow-3: 0 8px 24px rgba(0, 0, 0, 0.4);
  --shadow-4: 0 16px 32px rgba(0, 0, 0, 0.45);
  --shadow-5: 0 24px 48px rgba(0, 0, 0, 0.5);
}
