@use "../props/prefixes" as *;
@use "../props/defines" as *;

// ============================================
// Border Styles
// ============================================
:root {
    --border-color: var(--#{$neutral-prefix}5);
}

// ============================================
// Border
// ============================================
.border {
    border: 1px solid var(--border-color);
    
    @each $name, $values in $semantic-colors {
        &.#{$semantic-prefix}#{$name} {
            --border-color: var(--#{$palette-default});
        }
    }
}
.border-top {
    border-top: 1px solid var(--border-color);
    
    @each $name, $values in $semantic-colors {
        &.#{$semantic-prefix}#{$name} {
            --border-color: var(--#{$palette-default});
        }
    }
}
.border-bottom {
    border-bottom: 1px solid var(--border-color);
    
    @each $name, $values in $semantic-colors {
        &.#{$semantic-prefix}#{$name} {
            --border-color: var(--#{$palette-default});
        }
    }
}
.border-start {
    border-left: 1px solid var(--border-color);
    
    @each $name, $values in $semantic-colors {
        &.#{$semantic-prefix}#{$name} {
            --border-color: var(--#{$palette-default});
        }
    }
}
.border-end {
    border-right: 1px solid var(--border-color);
    
    @each $name, $values in $semantic-colors {
        &.#{$semantic-prefix}#{$name} {
            --border-color: var(--#{$palette-default});
        }
    }
}
// ============================================
// Border Sizes
// ============================================
.border-0 {
    border: none;
}
.border-1 {
    border-width: 1px;
}
.border-2 {
    border-width: 2px;
}
.border-3 {
    border-width: 3px;
}
.border-4 {
    border-width: 4px;
}
.border-5 {
    border-width: 5px;
}
.border-top-0 {
    border-top: none;
}
.border-bottom-0 {
    border-bottom: none;
}
.border-start-0 {
    border-left: none;
}
.border-end-0 {
    border-right: none;
}

// ============================================
// Border Radius
// ============================================
.rounded {
    border-radius: 4px;
}
.rounded-top {
    border-radius: 4px 4px 0 0;
}
.rounded-bottom {
    border-radius: 0 0 4px 4px;
}
.rounded-start {
    border-radius: 4px 0 0 4px;
}
.rounded-end {
    border-radius: 0 4px 4px 0;
}
.rounded-0 {
    border-radius: 0;
}
.rounded-1 {
    border-radius: 2px;
}
.rounded-2 {
    border-radius: 4px;
}
.rounded-3 {
    border-radius: 8px;
}
.rounded-4 {
    border-radius: 16px;
}
.rounded-5 {
    border-radius: 32px;
}
.rounded-circle {
    border-radius: 50%;
}
.rounded-pill {
    border-radius: 50rem;
}
.rounded-top-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.rounded-bottom-0 {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.rounded-start-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.rounded-end-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}