@use "../props/prefixes" as *;

// ============================================
// Prefixes
// ============================================
// Prefixes
$checkbox-prefix: #{$prefix}checkbox- !default;

// Class Names
$checkbox-class-name: "checkbox" !default;

// Variable Names
$checkbox-size-var: --#{$checkbox-prefix}size !default;
$checkbox-accent-color-var: --#{$checkbox-prefix}accent-color !default;
$checkbox-transition-var: --#{$checkbox-prefix}transition !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variant
// ============================================
:root {
  // Size
  #{$checkbox-size-var}: unset;

  // Accent Color
  #{$checkbox-accent-color-var}: blue;

  // Transition
  #{$checkbox-transition-var}:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

// ============================================
// Checkbox
// ============================================
.#{$checkbox-class-name},
input[type="checkbox"].#{$checkbox-class-name} {
  // Size
  width: var(#{$checkbox-size-var});
  height: var(#{$checkbox-size-var});

  accent-color: var(#{$checkbox-accent-color-var});

  // Transition
  transition: var(#{$checkbox-transition-var});
}
