@use "../props/prefixes" as *;

// ============================================
// Prefixes
// ============================================
// Prefixes
$progress-prefix: #{$prefix}progress- !default;

// Class Names
$progress-class-name: "progress" !default;

// Variable Names
$progress-height-var: --#{$progress-prefix}height !default;
$progress-accent-color-var: --#{$progress-prefix}accent-color !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variables
// ============================================
.#{$progress-class-name} {
  #{$progress-height-var}: 0.5rem;
  #{$progress-accent-color-var}: blue;
}

// ============================================
// Progress
// ============================================
.#{$progress-class-name},
progress.#{$progress-class-name} {
  // Size
  width: 100%;
  height: var(#{$progress-height-var}, 0.5rem);

  // For Firefox
  accent-color: var(#{$progress-accent-color-var});
}