@use "../props/prefixes" as *;

// ============================================
// Prefixes
// ============================================
// Prefixes
$radio-prefix: #{$prefix}radio- !default;

// Class Names
$radio-class-name: "radio" !default;

// Variable Names
$radio-accent-color-var: --#{$radio-prefix}accent-color !default;

// ============================================
// Process
// ============================================

// ============================================
// CSS Variables
// ============================================
input[type="radio"].#{$radio-class-name} {
  #{$radio-accent-color-var}: blue;
}

// ============================================
// Radio
// ============================================
input[type="radio"].#{$radio-class-name} {
  accent-color: var(#{$radio-accent-color-var});
}