@use "../props/prefixes" as *;

// ============================================
// Prefixes
// ============================================
// Prefixes
$range-prefix: #{$prefix}range- !default;

// Class Names
$range-class-name: "range" !default;

// Variable Names
$range-accent-color-var: --#{$range-prefix}accent-color !default;
$range-transition-var: --#{$range-prefix}transition !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variables
// ============================================
.#{$range-class-name} {
  #{$range-transition-var}:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  #{$range-accent-color-var}: blue;
}

// ============================================
// Range
// ============================================
input[type="range"].#{$range-class-name} {
  width: 100%;
  accent-color: var(#{$range-accent-color-var});
}
