@use "../props/prefixes" as *;

// ============================================
// Prefixes
// ============================================
// Prefixes
$select-prefix: #{$prefix}select- !default;

// Class Names
$select-class-name: "select" !default;

// Variable Names
$select-height-var: --#{$select-prefix}height !default;
$select-padding-x-var: --#{$select-prefix}padding-x !default;
$select-padding-y-var: --#{$select-prefix}padding-y !default;
$select-font-size-var: --#{$select-prefix}font-size !default;
$select-line-height-var: --#{$select-prefix}line-height !default;

$select-bg-var: --#{$select-prefix}bg !default;
$select-color-var: --#{$select-prefix}color !default;
$select-border-color-var: --#{$select-prefix}border-color !default;

$select-bg-hover-var: --#{$select-prefix}bg-hover !default;
$select-color-hover-var: --#{$select-prefix}color-hover !default;
$select-border-color-hover-var: --#{$select-prefix}border-color-hover !default;

$select-bg-focus-var: --#{$select-prefix}bg-focus !default;
$select-color-focus-var: --#{$select-prefix}color-focus !default;
$select-border-color-focus-var: --#{$select-prefix}border-color-focus !default;
$select-focus-ring-width-var: --#{$select-prefix}focus-ring-width !default;
$select-focus-ring-color-var: --#{$select-prefix}focus-ring-color !default;
$select-focus-ring-offset-var: --#{$select-prefix}focus-ring-offset !default;

$select-bg-disabled-var: --#{$select-prefix}bg-disabled !default;
$select-color-disabled-var: --#{$select-prefix}color-disabled !default;
$select-border-color-disabled-var: --#{$select-prefix}border-color-disabled !default;

$select-border-width-var: --#{$select-prefix}border-width !default;
$select-border-radius-var: --#{$select-prefix}border-radius !default;

$select-transition-var: --#{$select-prefix}transition !default;

$select-multiple-min-height-var: --#{$select-prefix}multiple-min-height !default;
$select-option-padding-var: --#{$select-prefix}option-padding !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variables
// ============================================
.#{$select-class-name} {
  #{$select-height-var}: 2.5rem;
  #{$select-padding-x-var}: 0.625rem;
  #{$select-padding-y-var}: 0;
  #{$select-font-size-var}: 1rem;
  #{$select-line-height-var}: 1.5;

  #{$select-bg-var}: white;
  #{$select-color-var}: black;
  #{$select-border-color-var}: lightgray;

  #{$select-bg-hover-var}: white;
  #{$select-color-hover-var}: black;
  #{$select-border-color-hover-var}: lightgray;

  #{$select-bg-focus-var}: white;
  #{$select-color-focus-var}: black;
  #{$select-border-color-focus-var}: lightgray;
  #{$select-focus-ring-width-var}: 2px;
  #{$select-focus-ring-color-var}: black;
  #{$select-focus-ring-offset-var}: 0px;
  #{$select-bg-disabled-var}: ghostwhite;
  #{$select-color-disabled-var}: gray;
  #{$select-border-color-disabled-var}: lightgray;

  #{$select-border-width-var}: 1px;
  #{$select-border-radius-var}: 0.25rem;

  #{$select-transition-var}: none;

  #{$select-multiple-min-height-var}: 6rem;
  #{$select-option-padding-var}: 0.5rem 0.75rem;
}

// ============================================
// Select
// ============================================
.#{$select-class-name} {
  width: 100%;

  // Size
  height: var(#{$select-height-var});
  padding: var(#{$select-padding-y-var}) var(#{$select-padding-x-var})
    var(#{$select-padding-y-var}) var(#{$select-padding-x-var});
  font-size: var(#{$select-font-size-var});
  line-height: var(#{$select-line-height-var});

  // Colors
  background-color: var(#{$select-bg-var});
  color: var(#{$select-color-var});

  // Border
  border: var(#{$select-border-width-var}) solid
    var(#{$select-border-color-var});
  border-radius: var(#{$select-border-radius-var});

  // Transition
  transition: var(#{$select-transition-var});

  // Font
  font-family: inherit;

  // Cursor
  cursor: pointer;

  // Text overflow
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  // ----------------------------------------
  // Hover State
  // ----------------------------------------
  &:hover:not(:disabled):not(:focus) {
    background-color: var(#{$select-bg-hover-var});
    color: var(#{$select-color-hover-var});
    border-color: var(#{$select-border-color-hover-var});
  }

  // ----------------------------------------
  // Focus State
  // ----------------------------------------
  &:focus {
    outline-width: var(#{$select-focus-ring-width-var});
    outline-color: var(#{$select-focus-ring-color-var});
    outline-style: solid;
    outline-offset: var(#{$select-focus-ring-offset-var});
    background-color: var(#{$select-bg-focus-var});
    color: var(#{$select-color-focus-var});
    border-color: var(#{$select-border-color-focus-var});
  }

  // ----------------------------------------
  // Disabled State
  // ----------------------------------------
  &:disabled {
    background-color: var(#{$select-bg-disabled-var});
    color: var(#{$select-color-disabled-var});
    border-color: var(#{$select-border-color-disabled-var});
    opacity: 1;
  }

  // ----------------------------------------
  // Placeholder option (first empty option)
  // ----------------------------------------
  &:invalid,
  &:required:invalid {
    color: var(#{$select-color-disabled-var});
  }
}

// Optgroup styling
.#{$select-class-name} optgroup {
  font-weight: 600;
  font-style: normal;
  color: var(#{$select-color-var});
  background-color: var(#{$select-bg-var});
}

// ============================================
// Multiple Select
// ============================================
.#{$select-class-name}[multiple] {
  height: auto;
  min-height: var(#{$select-multiple-min-height-var});
  padding: var(#{$select-padding-y-var}) var(#{$select-padding-x-var});

  // Remove arrow for multiple select
  background-image: none;

  // Allow vertical scrolling
  overflow-y: auto;

  option {
    padding: var(#{$select-option-padding-var});
    border-radius: calc(var(#{$select-border-radius-var}) / 2);
    margin-bottom: 2px;

    &:checked {
      background: var(#{$select-bg-var});
    }
  }
}
