@use "../props/prefixes" as *;
@use "../props/defines" as *;

:root {
  --#{$shadow-prefix}none: none;
  --#{$shadow-prefix}sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --#{$shadow-prefix}: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --#{$shadow-prefix}lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --#{$shadow-prefix}inset: inset 0 1px 2px rgba(0, 0, 0, 0.75);
}

.shadow-none {
  box-shadow: var(--#{$shadow-prefix}none) !important;
}
.shadow-sm {
  box-shadow: var(--#{$shadow-prefix}sm) !important;
}
.shadow {
  box-shadow: var(--#{$shadow-prefix}) !important;
}
.shadow-lg {
  box-shadow: var(--#{$shadow-prefix}lg) !important;
}
.shadow-inset {
  box-shadow: var(--#{$shadow-prefix}inset) !important;
}
