@use "../props/prefixes" as *;

// ============================================
// Prefixes
// ============================================
// Prefixes
$table-prefix: #{$prefix}table-;

// Class Names
$table-class-name: "table";

// Variable Names
$table-bg-var: --#{$table-prefix}bg;
$table-color-var: --#{table-prefix}color;
$table-border-color-var: --#{table-prefix}border-color;
$table-striped-bg-var: --#{table-prefix}striped-bg;
$table-striped-color-var: --#{table-prefix}striped-color;
$table-hover-bg-var: --#{table-prefix}hover-bg;
$table-hover-color-var: --#{table-prefix}hover-color;
$table-active-bg-var: --#{table-prefix}active-bg;
$table-active-color-var: --#{table-prefix}active-color;
$table-cell-padding-x-var: --#{$table-prefix}cell-padding-x;
$table-cell-padding-y-var: --#{$table-prefix}cell-padding-y;
$table-border-width-var: --#{$table-prefix}border-width;
$table-th-font-weight-var: --#{$table-prefix}th-font-weight;
$table-group-separator-colot-var: --#{$table-prefix}group-separator-color;
$table-caption-color-var: --#{$table-prefix}caption-color;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variables
// ============================================
.#{$table-class-name} {
  #{$table-bg-var}: transparent;
  #{$table-color-var}: inherit;
  #{$table-border-color-var}: transparent;
  #{$table-hover-bg-var}: transparent;
  #{$table-hover-color-var}: inherit;
  #{$table-active-bg-var}: transparent;
  #{$table-active-color-var}: inherit;
  #{$table-cell-padding-x-var}: 10px;
  #{$table-cell-padding-y-var}: 20px;
  #{$table-border-width-var}: 1px;
  #{$table-th-font-weight-var}: 300;
  #{$table-group-separator-colot-var}: transparent;
  #{table-caption-color-var}: inherit;
}

// ============================================
// Table
// ============================================
.#{$table-class-name} {
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  border-color: var(#{$table-border-color-var});
  color: var(#{$table-color-var});
  background-color: var(#{$table-bg-var});

  // Table cells
  > :not(caption) > * > * {
    padding: var(#{$table-cell-padding-y-var}) var(#{$table-cell-padding-x-var});
    border-bottom-width: var(#{$table-border-width-var});
    border-bottom-style: solid;
    border-bottom-color: var(#{$table-border-color-var});
  }

  // Header cells
  > thead > tr > th {
    font-weight: var(#{$table-th-font-weight-var});
    text-align: inherit;
    vertical-align: bottom;
  }

  // Body cells
  > tbody {
    vertical-align: inherit;
  }

  // Ensure proper border handling for nested tables
  > tbody > tr:last-child > * {
    border-bottom-color: transparent;
  }
}

// =============================================================================
// Table Group Dividers
// =============================================================================

.table-group-divider {
  border-top: calc(var(#{$table-border-width-var}) * 2) solid
    var(#{$table-group-separator-colot-var});
}

// =============================================================================
// Caption
// =============================================================================

.table > caption {
  padding-top: var(#{$table-cell-padding-y-var});
  padding-bottom: var(#{$table-cell-padding-y-var});
  color: var(#{$table-caption-color-var});
  text-align: left;
  caption-side: bottom;
}

.caption-top {
  caption-side: top;
}

// =============================================================================
// Hover Effect
// =============================================================================

.table-hover {
  > tbody > tr:hover > * {
    background-color: var(#{$table-hover-bg-var});
    color: var(#{table-hover-color-var});
  }
}

// =============================================================================
// Active State
// =============================================================================

.table-active {
  > * {
    background-color: var(#{$table-active-bg-var});
    color: var(#{$table-active-color-var});
  }
}

// Row/Cell active state
.table > tbody > tr.active > *,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active {
  background-color: var(#{$table-active-bg-var});
  color: var(#{$table-active-color-var});
}

// =============================================================================
// Vertical Alignment
// =============================================================================

.table-align-top {
  > :not(caption) > * > * {
    vertical-align: top;
  }
}

.table-align-middle {
  > :not(caption) > * > * {
    vertical-align: middle;
  }
}

.table-align-bottom {
  > :not(caption) > * > * {
    vertical-align: bottom;
  }
}

// =============================================================================
// Fixed Layout
// =============================================================================

.table-fixed {
  table-layout: fixed;
}

// =============================================================================
// Auto Layout
// =============================================================================

.table-auto {
  table-layout: auto;
}
