@use "../utilities/prefixes" as prefixes;

// ============================================================
// テーマ共通設定（ライト/ダーク両モードで変わらない定義）
// ============================================================
:root[data-theme="#{prefixes.$theme-name}"] {
  // ============================================================
  // Default Palette
  // ============================================================
  --palette-hue: var(--neutral-hue);
  --palette-saturation: var(--neutral-saturation);
  --palette-lightness-1: var(--neutral-lightness-1);
  --palette-color-1: var(--neutral-color-1);
  --palette-color-1-ch: var(--neutral-color-1-ch);
  --palette-gray-1: var(--neutral-gray-1);
  --palette-accent-1: var(--neutral-accent-1);
  --palette-lightness-2: var(--neutral-lightness-2);
  --palette-color-2: var(--neutral-color-2);
  --palette-color-2-ch: var(--neutral-color-2-ch);
  --palette-gray-2: var(--neutral-gray-2);
  --palette-accent-2: var(--neutral-accent-2);
  --palette-lightness-3: var(--neutral-lightness-3);
  --palette-color-3: var(--neutral-color-3);
  --palette-color-3-ch: var(--neutral-color-3-ch);
  --palette-gray-3: var(--neutral-gray-3);
  --palette-accent-3: var(--neutral-accent-3);
  --palette-lightness-4: var(--neutral-lightness-4);
  --palette-color-4: var(--neutral-color-4);
  --palette-color-4-ch: var(--neutral-color-4-ch);
  --palette-gray-4: var(--neutral-gray-4);
  --palette-accent-4: var(--neutral-accent-4);
  --palette-lightness-5: var(--neutral-lightness-5);
  --palette-color-5: var(--neutral-color-5);
  --palette-color-5-ch: var(--neutral-color-5-ch);
  --palette-gray-5: var(--neutral-gray-5);
  --palette-accent-5: var(--neutral-accent-5);
  --palette-lightness-6: var(--neutral-lightness-6);
  --palette-color-6: var(--neutral-color-6);
  --palette-color-6-ch: var(--neutral-color-6-ch);
  --palette-gray-6: var(--neutral-gray-6);
  --palette-accent-6: var(--neutral-accent-6);
  --palette-lightness-7: var(--neutral-lightness-7);
  --palette-color-7: var(--neutral-color-7);
  --palette-color-7-ch: var(--neutral-color-7-ch);
  --palette-gray-7: var(--neutral-gray-7);
  --palette-accent-7: var(--neutral-accent-7);
  --palette-lightness-8: var(--neutral-lightness-8);
  --palette-color-8: var(--neutral-color-8);
  --palette-color-8-ch: var(--neutral-color-8-ch);
  --palette-gray-8: var(--neutral-gray-8);
  --palette-accent-8: var(--neutral-accent-8);
  --palette-lightness-9: var(--neutral-lightness-9);
  --palette-color-9: var(--neutral-color-9);
  --palette-color-9-ch: var(--neutral-color-9-ch);
  --palette-gray-9: var(--neutral-gray-9);
  --palette-accent-9: var(--neutral-accent-9);
  --palette-lightness-10: var(--neutral-lightness-10);
  --palette-color-10: var(--neutral-color-10);
  --palette-color-10-ch: var(--neutral-color-10-ch);
  --palette-gray-10: var(--neutral-gray-10);
  --palette-accent-10: var(--neutral-accent-10);
  --palette-lightness-11: var(--neutral-lightness-11);
  --palette-color-11: var(--neutral-color-11);
  --palette-color-11-ch: var(--neutral-color-11-ch);
  --palette-gray-11: var(--neutral-gray-11);
  --palette-accent-11: var(--neutral-accent-11);
  --palette-lightness-12: var(--neutral-lightness-12);
  --palette-color-12: var(--neutral-color-12);
  --palette-color-12-ch: var(--neutral-color-12-ch);
  --palette-gray-12: var(--neutral-gray-12);
  --palette-accent-12: var(--neutral-accent-12);
  --palette-subtle: var(--neutral-subtle);
  --palette-accent-subtle: var(--neutral-accent-subtle);
  --palette-subtle-ch: var(--neutral-subtle-ch);
  --palette-tonal: var(--neutral-tonal);
  --palette-accent-tonal: var(--neutral-accent-tonal);
  --palette-tonal-ch: var(--neutral-tonal-ch);
  --palette-solid: var(--neutral-solid);
  --palette-accent-solid: var(--neutral-accent-solid);
  --palette-solid-ch: var(--neutral-solid-ch);
  --palette-strong: var(--neutral-strong);
  --palette-accent-strong: var(--neutral-accent-strong);
  --palette-strong-ch: var(--neutral-strong-ch);
  --palette-heavy: var(--neutral-heavy);
  --palette-accent-heavy: var(--neutral-accent-heavy);
  --palette-heavy-ch: var(--neutral-heavy-ch);

  // ============================================================
  // Primary
  // ============================================================
  --primary-hue: 254;
  --primary-saturation: 40%;
  --primary-subtle: var(--primary-color-4);
  --primary-subtle-ch: var(--primary-color-4-ch);
  --primary-accent-subtle: var(--primary-accent-4);
  --primary-tonal: var(--primary-color-5);
  --primary-tonal-ch: var(--primary-color-5-ch);
  --primary-accent-tonal: var(--primary-accent-5);
  --primary-solid: var(--primary-color-8);
  --primary-solid-ch: var(--primary-color-8-ch);
  --primary-accent-solid: var(--primary-accent-8);
  --primary-strong: var(--primary-color-10);
  --primary-strong-ch: var(--primary-color-10-ch);
  --primary-accent-strong: var(--primary-accent-10);
  --primary-heavy: var(--primary-color-11);
  --primary-heavy-ch: var(--primary-color-11-ch);
  --primary-accent-heavy: var(--primary-accent-11);

  // ============================================================
  // Secondary
  // ============================================================
  --secondary-hue: 250;
  --secondary-saturation: 13%;
  --secondary-subtle: var(--secondary-color-4);
  --secondary-subtle-ch: var(--secondary-color-4-ch);
  --secondary-accent-subtle: var(--secondary-accent-4);
  --secondary-tonal: var(--secondary-color-5);
  --secondary-tonal-ch: var(--secondary-color-5-ch);
  --secondary-accent-tonal: var(--secondary-accent-5);
  --secondary-solid: var(--secondary-color-8);
  --secondary-solid-ch: var(--secondary-color-8-ch);
  --secondary-accent-solid: var(--secondary-accent-8);
  --secondary-strong: var(--secondary-color-10);
  --secondary-strong-ch: var(--secondary-color-10-ch);
  --secondary-accent-strong: var(--secondary-accent-10);
  --secondary-heavy: var(--secondary-color-11);
  --secondary-heavy-ch: var(--secondary-color-11-ch);
  --secondary-accent-heavy: var(--secondary-accent-11);

  // ============================================================
  // Tertiary
  // ============================================================
  --tertiary-hue: 355;
  --tertiary-saturation: 30%;
  --tertiary-accent-7: var(--tertiary-accent-light-color);
  --tertiary-accent-8: var(--tertiary-accent-light-color);
  --tertiary-subtle: var(--tertiary-color-4);
  --tertiary-subtle-ch: var(--tertiary-color-4-ch);
  --tertiary-accent-subtle: var(--tertiary-accent-4);
  --tertiary-tonal: var(--tertiary-color-5);
  --tertiary-tonal-ch: var(--tertiary-color-5-ch);
  --tertiary-accent-tonal: var(--tertiary-accent-5);
  --tertiary-solid: var(--tertiary-color-8);
  --tertiary-solid-ch: var(--tertiary-color-8-ch);
  --tertiary-accent-solid: var(--tertiary-accent-8);
  --tertiary-strong: var(--tertiary-color-10);
  --tertiary-strong-ch: var(--tertiary-color-10-ch);
  --tertiary-accent-strong: var(--tertiary-accent-10);
  --tertiary-heavy: var(--tertiary-color-11);
  --tertiary-heavy-ch: var(--tertiary-color-11-ch);
  --tertiary-accent-heavy: var(--tertiary-accent-11);

  // ============================================================
  // Danger / Error
  // ============================================================
  --danger-hue: 8;
  --danger-saturation: 90%;
  --danger-subtle: var(--danger-color-4);
  --danger-subtle-ch: var(--danger-color-4-ch);
  --danger-accent-subtle: var(--danger-accent-4);
  --danger-tonal: var(--danger-color-5);
  --danger-tonal-ch: var(--danger-color-5-ch);
  --danger-accent-tonal: var(--danger-accent-5);
  --danger-solid: var(--danger-color-8);
  --danger-solid-ch: var(--danger-color-8-ch);
  --danger-accent-solid: var(--danger-accent-8);
  --danger-strong: var(--danger-color-10);
  --danger-strong-ch: var(--danger-color-10-ch);
  --danger-accent-strong: var(--danger-accent-10);
  --danger-heavy: var(--danger-color-11);
  --danger-heavy-ch: var(--danger-color-11-ch);
  --danger-accent-heavy: var(--danger-accent-11);

  // ============================================================
  // Success
  // ============================================================
  --success-hue: 133;
  --success-saturation: 55%;
  --success-subtle: var(--success-color-4);
  --success-subtle-ch: var(--success-color-4-ch);
  --success-accent-subtle: var(--success-accent-4);
  --success-tonal: var(--success-color-5);
  --success-tonal-ch: var(--success-color-5-ch);
  --success-accent-tonal: var(--success-accent-5);
  --success-solid: var(--success-color-8);
  --success-solid-ch: var(--success-color-8-ch);
  --success-accent-solid: var(--success-accent-8);
  --success-strong: var(--success-color-10);
  --success-strong-ch: var(--success-color-10-ch);
  --success-accent-strong: var(--success-accent-10);
  --success-heavy: var(--success-color-11);
  --success-heavy-ch: var(--success-color-11-ch);
  --success-accent-heavy: var(--success-accent-11);

  // ============================================================
  // Warning
  // ============================================================
  --warning-hue: 46;
  --warning-saturation: 100%;
  --warning-subtle: var(--warning-color-4);
  --warning-subtle-ch: var(--warning-color-4-ch);
  --warning-accent-subtle: var(--warning-accent-4);
  --warning-tonal: var(--warning-color-5);
  --warning-tonal-ch: var(--warning-color-5-ch);
  --warning-accent-tonal: var(--warning-accent-5);
  --warning-solid: var(--warning-color-8);
  --warning-solid-ch: var(--warning-color-8-ch);
  --warning-accent-solid: var(--warning-accent-8);
  --warning-strong: var(--warning-color-10);
  --warning-strong-ch: var(--warning-color-10-ch);
  --warning-accent-strong: var(--warning-accent-10);
  --warning-heavy: var(--warning-color-11);
  --warning-heavy-ch: var(--warning-color-11-ch);
  --warning-accent-heavy: var(--warning-accent-11);

  // ============================================================
  // Info
  // ============================================================
  --info-hue: 195;
  --info-saturation: 75%;
  --info-subtle: var(--info-color-4);
  --info-subtle-ch: var(--info-color-4-ch);
  --info-accent-subtle: var(--info-accent-4);
  --info-tonal: var(--info-color-5);
  --info-tonal-ch: var(--info-color-5-ch);
  --info-accent-tonal: var(--info-accent-5);
  --info-solid: var(--info-color-9);
  --info-solid-ch: var(--info-color-9-ch);
  --info-accent-solid: var(--info-accent-9);
  --info-strong: var(--info-color-10);
  --info-strong-ch: var(--info-color-10-ch);
  --info-accent-strong: var(--info-accent-10);
  --info-heavy: var(--info-color-11);
  --info-heavy-ch: var(--info-color-11-ch);
  --info-accent-heavy: var(--info-accent-11);

  // ============================================================
  // Neutral
  // ============================================================
  --neutral-hue: 280;
  --neutral-saturation: 13%;
  --neutral-subtle: var(--neutral-color-3);
  --neutral-subtle-ch: var(--neutral-color-3-ch);
  --neutral-accent-subtle: var(--neutral-accent-3);
  --neutral-tonal: var(--neutral-color-4);
  --neutral-tonal-ch: var(--neutral-color-4-ch);
  --neutral-accent-tonal: var(--neutral-accent-4);
  --neutral-solid: var(--neutral-color-8);
  --neutral-solid-ch: var(--neutral-color-8-ch);
  --neutral-accent-solid: var(--neutral-accent-8);
  --neutral-strong: var(--neutral-color-9);
  --neutral-strong-ch: var(--neutral-color-9-ch);
  --neutral-accent-strong: var(--neutral-accent-9);
  --neutral-heavy: var(--neutral-color-10);
  --neutral-heavy-ch: var(--neutral-color-10-ch);
  --neutral-accent-heavy: var(--neutral-accent-10);
}

// ============================================================
// ライトモード設定（data-color-scheme 未指定 または "light"）
// ============================================================
:root[data-theme="#{prefixes.$theme-name}"],
:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$light-mode-name}"] {
  // ============================================================
  // Border
  // ============================================================
  --border-color: var(--neutral-gray-4);
  --border-color-subtle: var(--neutral-gray-3);
  --border-color-strong: var(--neutral-gray-6);

  // --------------------------------------------
  // Control Border
  // --------------------------------------------
  --control-border-color: var(--neutral-gray-5);
  --control-border-color-strong: var(--neutral-gray-6);
  --control-border-color-subtle: var(--neutral-gray-3);

  // ============================================================
  // Text
  // ============================================================
  --text-color: var(--neutral-gray-9);
  --text-color-subtle: var(--neutral-gray-6);
  --text-color-strong: var(--neutral-gray-11);

  // ============================================================
  // Surface
  // ============================================================
  --surface-color-overlay: var(--neutral-color-1);
  --surface-color-raised: var(--neutral-color-2);
  --surface-color: var(--neutral-color-3);
  --surface-color-sunken: var(--neutral-color-4);
  --surface-color-deep: var(--neutral-color-5);
}

// ============================================================
// ダークモード設定
// ============================================================
:root[data-theme="#{prefixes.$theme-name}"][data-color-scheme="#{prefixes.$dark-mode-name}"] {
  // ============================================================
  // Default
  // ============================================================
  --palette-subtle: var(--palette-color-3);
  --palette-accent-subtle: var(--palette-accent-3);
  --palette-tonal: var(--palette-color-4);
  --palette-accent-tonal: var(--palette-accent-4);
  --palette-solid: var(--palette-color-5);
  --palette-accent-solid: var(--palette-accent-5);
  --palette-strong: var(--palette-color-8);
  --palette-accent-strong: var(--palette-accent-8);
  --palette-heavy: var(--palette-color-10);
  --palette-accent-heavy: var(--palette-accent-10);

  // ============================================================
  // Primary
  // ============================================================
  --primary-subtle: var(--primary-color-3);
  --primary-accent-subtle: var(--primary-accent-3);
  --primary-tonal: var(--primary-color-4);
  --primary-accent-tonal: var(--primary-accent-4);
  --primary-solid: var(--primary-color-5);
  --primary-accent-solid: var(--primary-accent-5);
  --primary-strong: var(--primary-color-8);
  --primary-accent-strong: var(--primary-accent-8);
  --primary-heavy: var(--primary-color-10);
  --primary-accent-heavy: var(--primary-accent-10);

  // ============================================================
  // Secondary
  // ============================================================
  --secondary-subtle: var(--secondary-color-3);
  --secondary-accent-subtle: var(--secondary-accent-3);
  --secondary-tonal: var(--secondary-color-4);
  --secondary-accent-tonal: var(--secondary-accent-4);
  --secondary-solid: var(--secondary-color-5);
  --secondary-accent-solid: var(--secondary-accent-5);
  --secondary-strong: var(--secondary-color-8);
  --secondary-accent-strong: var(--secondary-accent-8);
  --secondary-heavy: var(--secondary-color-10);
  --secondary-accent-heavy: var(--secondary-accent-10);

  // ============================================================
  // Tertiary
  // ============================================================
  --tertiary-subtle: var(--tertiary-color-3);
  --tertiary-accent-subtle: var(--tertiary-accent-3);
  --tertiary-tonal: var(--tertiary-color-4);
  --tertiary-accent-tonal: var(--tertiary-accent-4);
  --tertiary-solid: var(--tertiary-color-5);
  --tertiary-accent-solid: var(--tertiary-accent-5);
  --tertiary-strong: var(--tertiary-color-8);
  --tertiary-accent-strong: var(--tertiary-accent-8);
  --tertiary-heavy: var(--tertiary-color-10);
  --tertiary-accent-heavy: var(--tertiary-accent-10);

  // ============================================================
  // Success
  // ============================================================
  --success-subtle: var(--success-color-3);
  --success-accent-subtle: var(--success-accent-3);
  --success-tonal: var(--success-color-4);
  --success-accent-tonal: var(--success-accent-4);
  --success-solid: var(--success-color-5);
  --success-accent-solid: var(--success-accent-5);
  --success-strong: var(--success-color-8);
  --success-accent-strong: var(--success-accent-8);
  --success-heavy: var(--success-color-10);
  --success-accent-heavy: var(--success-accent-10);

  // ============================================================
  // Warning
  // ============================================================
  --warning-subtle: var(--warning-color-3);
  --warning-accent-subtle: var(--warning-accent-3);
  --warning-tonal: var(--warning-color-4);
  --warning-accent-tonal: var(--warning-accent-4);
  --warning-solid: var(--warning-color-5);
  --warning-accent-solid: var(--warning-accent-5);
  --warning-strong: var(--warning-color-9);
  --warning-accent-strong: var(--warning-accent-9);
  --warning-heavy: var(--warning-color-10);
  --warning-accent-heavy: var(--warning-accent-10);

  // ============================================================
  // Danger
  // ============================================================
  --danger-subtle: var(--danger-color-3);
  --danger-accent-subtle: var(--danger-accent-3);
  --danger-tonal: var(--danger-color-4);
  --danger-accent-tonal: var(--danger-accent-4);
  --danger-solid: var(--danger-color-5);
  --danger-accent-solid: var(--danger-accent-5);
  --danger-strong: var(--danger-color-8);
  --danger-accent-strong: var(--danger-accent-8);
  --danger-heavy: var(--danger-color-10);
  --danger-accent-heavy: var(--danger-accent-10);

  // ============================================================
  // Info
  // ============================================================
  --info-subtle: var(--info-color-3);
  --info-accent-subtle: var(--info-accent-3);
  --info-tonal: var(--info-color-4);
  --info-accent-tonal: var(--info-accent-4);
  --info-solid: var(--info-color-5);
  --info-accent-solid: var(--info-accent-5);
  --info-strong: var(--info-color-9);
  --info-accent-strong: var(--info-accent-9);
  --info-heavy: var(--info-color-10);
  --info-accent-heavy: var(--info-accent-10);

  // ============================================================
  // Neutral
  // ============================================================
  --neutral-lightness-1: 99%;
  --neutral-lightness-2: 92%;
  --neutral-lightness-3: 85%;
  --neutral-lightness-4: 75%;
  --neutral-lightness-5: 65%;
  --neutral-lightness-6: 45%;
  --neutral-lightness-7: 25%;
  --neutral-lightness-8: 10%;
  --neutral-lightness-9: 6%;
  --neutral-lightness-10: 4%;
  --neutral-lightness-11: 1%;
  --neutral-lightness-12: 1%;

  --neutral-subtle: var(--neutral-color-3);
  --neutral-accent-subtle: var(--neutral-accent-3);
  --neutral-tonal: var(--neutral-color-4);
  --neutral-accent-tonal: var(--neutral-accent-4);
  --neutral-solid: var(--neutral-color-5);
  --neutral-accent-solid: var(--neutral-accent-5);
  --neutral-strong: var(--neutral-color-7);
  --neutral-accent-strong: var(--neutral-accent-7);
  --neutral-heavy: var(--neutral-color-8);
  --neutral-accent-heavy: var(--neutral-accent-8);

  // ============================================================
  // Border（ダーク）
  // ============================================================
  --border-color: var(--neutral-color-6);
  --border-color-subtle: var(--neutral-color-8);
  --border-color-strong: var(--neutral-color-5);

  // ============================================================
  // Text（ダーク）: 暗背景上で読めるよう明るい色に反転
  // ============================================================
  --text-color: var(--neutral-gray-2);
  --text-color-subtle: var(--neutral-gray-1);
  --text-color-strong: var(--neutral-gray-4);

  // ============================================================
  // Surface（ダーク）: 暗背景ベース
  // ============================================================
  --surface-color-overlay: var(--neutral-color-8);
  --surface-color-raised: var(--neutral-color-9);
  --surface-color: var(--neutral-color-10);
  --surface-color-sunken: var(--neutral-color-10);
  --surface-color-deep: var(--neutral-color-11);
}
