:root[data-theme="terminal"] {
  .button {
    --button-border-radius: 0px;
    --button-font-size: 14px;
    --button-padding-y: 6px;
    --button-padding-x: 12px;
    --button-border-width: 1px;
    --button-box-shadow: none;
    --button-hover-box-shadow: none;
    --button-active-box-shadow: none;
  }
}
