@use "../../utilities/palette" as palette;
@use "./semantics" as semantics;
@use "./hue-colors" as hue-colors;

// ============================================
// Variants
// ============================================
// --------------------------------------------
// Border
// --------------------------------------------
$border-color-var: --border-color;
$border-color-light-var: --border-color-light;
$border-color-dark-var: --border-color-dark;

// ---------------------------------------------
// Text
// ---------------------------------------------
$text-color-var: --text-color;
$text-color-light-var: --text-color-light;
$text-color-lighter-var: --text-color-lighter;
$text-color-dark-var: --text-color-dark;

// ---------------------------------------------
// Surface
// ---------------------------------------------
$surface-color-var: --surface-color;
$surface-color-light-var: --surface-color-light;
$surface-color-lighter-var: --surface-color-lighter;
$surface-color-dark-var: --surface-color-dark;
$surface-color-darker-var: --surface-color-darker;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variants
// ============================================
:root {
  #{$border-color-var}: var(
    #{semantics.$neutral-default-var}
  ); // neutral-color-5 (50%)
  #{$border-color-light-var}: var(
    #{semantics.$neutral-light-var}
  ); // neutral-color-3 (75%)
  #{$border-color-dark-var}: var(
    #{semantics.$neutral-dark-var}
  ); // neutral-color-7 (34%)

  #{$text-color-var}: var(--neutral-color-9);
  #{$text-color-light-var}: var(--neutral-color-7);
  #{$text-color-lighter-var}: var(--neutral-color-4);
  #{$text-color-dark-var}: var(--neutral-color-10);

  #{$surface-color-lighter-var}: var(
    --neutral-color-0
  ); // 97% — 最明 (ダイアログ等)
  #{$surface-color-light-var}: var(--neutral-color-0);
  #{$surface-color-var}: var(--neutral-color-1);
  #{$surface-color-dark-var}: var(--neutral-color-2);
  #{$surface-color-darker-var}: var(--neutral-color-3);
}
