@use "../../utilities/palette" as palette;
@use "./semantics" as semantics;
@use "./hue-colors" as hue-colors;

// ============================================
// Variants
// ============================================
// --------------------------------------------
// Border
// --------------------------------------------
$border-color-var: --border-color;
$border-color-light-var: --border-color-light;
$border-color-dark-var: --border-color-dark;

// ---------------------------------------------
// Text
// ---------------------------------------------
$text-color-var: --text-color;
$text-color-light-var: --text-color-light;
$text-color-dark-var: --text-color-dark;

// ---------------------------------------------
// Surface
// ---------------------------------------------
$surface-color-var: --surface-color;
$surface-color-light-var: --surface-color-light;
$surface-color-lighter-var: --surface-color-lighter;
$surface-color-dark-var: --surface-color-dark;
$surface-color-darker-var: --surface-color-darker;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variants
// ============================================
:root {
  #{$border-color-var}: var(#{semantics.$neutral-default-var});
  #{$border-color-light-var}: var(#{semantics.$neutral-light-var});
  #{$border-color-dark-var}: var(#{semantics.$neutral-dark-var});

  #{$text-color-var}: #1F1F1F;
  #{$text-color-light-var}: #3F3F3F;
  #{$text-color-dark-var}: #000000;

  #{$surface-color-var}: #F0F0F0;
  #{$surface-color-light-var}: #F5F5F5;
  #{$surface-color-lighter-var}: #FFFFFF;
  #{$surface-color-dark-var}: #E5E5E5;
  #{$surface-color-darker-var}: #D9D9D9;
}