@use "../../utilities/fonts" as fonts;

// ============================================
// Prefix
// ============================================
$font-size-semantic-prefix: --fs-semantic- !default;
$font-size-semantic-class-name-prefix: fs-semantic- !default;

// ============================================
// Variants
// ============================================
$font-family-var: --font-family !default;

// ============================================
// Variables
// ============================================
$font-size-semantics: (
  xs: var(#{fonts.$font-size-prefix}2),
  sm: var(#{fonts.$font-size-prefix}4),
  md: 14px,
  lg: var(#{fonts.$font-size-prefix}6),
  xl: var(#{fonts.$font-size-prefix}7),
) !default;

// ============================================
// Process
// ============================================
// ============================================
// CSS Variants
// ============================================
:root {
  #{$font-family-var}: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  @each $key, $value in $font-size-semantics {
    #{$font-size-semantic-prefix}#{$key}: #{$value};
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
li,
pre {
  margin: 0;
}

@each $key, $value in $font-size-semantics {
  .#{$font-size-semantic-class-name-prefix}#{$key} {
    font-size: var(#{$font-size-semantic-prefix}#{$key});
  }
}
