@use "sass:map";
@use "./hue-colors" as hue-colors;
@use "./semantics" as semantics;
@use "../../utilities/palette" as palette with (
  $palettes: map.merge(hue-colors.$hues, semantics.$semantic-colors)
);

// ============================================
// Palette Prefix
// ============================================
// Variant Names
$palette-lighter-var: --#{palette.$palette-prefix}lighter;
$palette-light-var: --#{palette.$palette-prefix}light;
$palette-default-var: --#{palette.$palette-prefix}default;
$palette-dark-var: --#{palette.$palette-prefix}dark;
$palette-darker-var: --#{palette.$palette-prefix}darker;

$palette-lighter-accent-var: --#{palette.$palette-accent-prefix}lighter;
$palette-light-accent-var: --#{palette.$palette-accent-prefix}light;
$palette-default-accent-var: --#{palette.$palette-accent-prefix}default;
$palette-dark-accent-var: --#{palette.$palette-accent-prefix}dark;
$palette-darker-accent-var: --#{palette.$palette-accent-prefix}darker;

// ============================================
// Overridable Variants
// ============================================
$default-palette: semantics.$semantic-primary !default;

// ============================================
// Process
// ============================================
:root {
  @include palette.generate-palette($default-palette);
}

:root {
  @include palette.generate-palette(semantics.$semantic-neutral-with-name);
}
